.btn {
	height: 65px;
	border-radius: 5px;
	background-color: #ff6700;
	color: #ffffff;
	font-family: Khabensky;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.1px;
	padding: 0 34px;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&_purple {
		background-color: #754099;
	}

	&_pink {
		background-color: #d14d9c;
	}

	@media (max-width: 768px) {
		height: 33px;
		border-radius: 3px;
		font-size: 14px;
		line-height: 1;
		letter-spacing: 0.11px;
		width: 100%;
		display: flex;
	}
}
