.button-hand {
	color: #754099;
	font-family: Khabensky;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	display: flex;
	align-items: center;
	margin-left: 54px;

	&__icon {
		width: 36px;
		height: 24px;
		background: url(/images/button-hand.svg) no-repeat;
		display: block;
		margin-right: 13px;
	}

	&__text {
		padding-top: 3px;
	}
}
