.button-remember {
	color: #754099;
	font-family: Khabensky;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	display: flex;
	align-items: center;
	margin-left: 54px;

	&__icon {
		width: 30px;
		height: 27px;
		background: url(/images/button-remember.svg) no-repeat;
		display: block;
		margin-right: 13px;
		background-size: contain;
	}

	&__text {
		padding-top: 3px;
	}

	@media (max-width: 768px) {
		font-size: 13px;
		margin-left: 20px;

		&__icon {
			width: 20px;
			height: 20px;
			margin-right: 7px;
		}

		&__text {
			white-space: nowrap;
		}
	}
}
