.footer-social {
	&__list {
		margin    : 0;
		padding   : 0;
		list-style: none;
		display   : flex;
	}

	&__item {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		text-decoration: none;
	}

	&__pic {
		display: block;
	}

	@media (max-width: 768px) {
		margin-bottom: 11px;

		&__list {
			justify-content: center;
		}
	}
}