.pagination {
	margin-bottom: 70px;
	display: flex;
	justify-content: center;
	position: relative;

	&__counter {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 100%;

		&:before {
			content: "";
			position: absolute;
			left: -200%;
			right: -200%;
			top: 50%;
			height: 1px;
			background: #f3f3f3;
		}

		span {
			color: #eeeeee;
			font-family: Khabensky;
			font-size: 48px;
			font-weight: 700;
			line-height: 1;
			padding: 5px 20px 0;
			background: #fff;
			position: relative;
			display: block;
		}
	}

	&__loader {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&:before {
			width: 55px;
			height: 55px;
			background: url("/images/pagination__loader.svg") no-repeat;
			content: "";
			display: block;
			margin-right: 11px;
			background-size: contain;
		}

		span {
			color: #e2e2e2;
			font-family: Khabensky;
			font-size: 24px;
			font-weight: 700;
			line-height: 1;
		}
	}

	&__scrollup {
		position: absolute;
		top: 0;
		right: 0;
		width: 51px;
		height: 55px;
		cursor: pointer;
		background: url("/images/pagination__scrollup.svg") no-repeat center;
		background-size: contain;
	}

	@media (max-width: 768px) {
		margin-bottom: 26px;

		&__counter {
			span {
				font-size: 24px;
				padding-left: 5px;
				padding-right: 5px;
			}
		}

		&__loader {
			&:before {
				width: 28px;
				height: 28px;
				margin-right: 5px;
			}

			span {
				font-size: 12px;
			}
		}

		&__scrollup {
			width: 26px;
			height: 26px;
		}
	}
}
