<template>
	<nav class="menu-header">
		<ul class="menu-header__list">
			<li class="menu-header__item" @click="closeMenu" v-for="item in items" v-bind:key="item.id">
				<nuxt-link class="menu-header__link" v-bind:to="item.url">{{ item.title }}</nuxt-link>
			</li>
			<!-- /.menu-header__item -->
		</ul>
		<!-- /.menu-header__list -->
	</nav>
	<!-- /.menu-header -->
</template>
<style lang="scss" src="@/components/menu/menu-header/menu-header.scss"></style>

<script>
export default {
	data() {
		return {
			items: [
				{ id: 1, title: 'Главная', url: '/' },
				{ id: 2, title: 'О Фонде', url: '/fund/' },
				{ id: 3, title: 'Программы', url: '/programs/' },
				{ id: 4, title: 'Дети', url: '/children/' },
				{ id: 5, title: 'Новости', url: '/news/' }
			]
		};
	},
	methods: {
		closeMenu() {
			document.body.classList.remove('mobile-menu-show');
		}
	}
};
</script>
