<template>
	<div class="info-about" :class="mClass">
		<div class="info-about__header">
			<div class="info-about__photo">
				<img v-lazyload :data-src="src" alt="" class="info-about__pic">
			</div>
			<div class="info-about__manager">
				<div class="info-about__name">
					{{ name }}
				</div>
				{{ worker }}
			</div>
		</div>
		<div class="info-about__desc">
			{{ text }}
		</div>
	</div>
</template>

<script>
export default {
	props: {
		mClass: {
			type: String,
			default: ''
		},
		src: {
			type: String,
			default: '/images/info-about__pic.webp'
		},
		name: {
			type: String,
			default: 'Виктория Вяхорева'
		},
		worker: {
			type: String,
			default: 'Директор по коммуникациям'
		},
		text: {
			type: String,
			default: `
				Мы мечтаем о том, чтобы благотворительность стала частью повседневной
				жизни каждого. и движемся в этом направлении: уже сегодня вы можете
				праздновать день рождения и помогать нашим подопечным, покупать
				определенные товары и помогать нашим подопечным, поздравлять друзей со
				свадьбой и помогать, запускать прямую трансляцию в социальных сетях и
				помогать — вариантов великое множество.
			`
		}
	}
}
</script>

<style lang="scss" src="@/components/info-about/info-about.scss"></style>