.info-about {
	display: flex;
	margin-bottom: 100px;
	margin-top: 60px;

	&__header {
		width: 220px;
		margin-right: 50px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}

	&__photo {
		flex-shrink: 0;
		text-align: center;
	}

	&__pic {
		display: block;
		margin: 0 auto 16px;
		max-width: 100%;
	}

	&__manager {
		color: #774098;
		font-family: "PT Sans";
		font-size: 14px;
		font-style: italic;
		line-height: 20.91px;
	}

	&__name {
		color: #2a2a2a;
		font-family: Khabensky;
		font-size: 26px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0.06px;
		font-style: normal;
		margin-bottom: 8px;
	}

	&__desc {
		color: #040404;
		font-family: "PT Sans";
		font-size: 22px;
		font-weight: 400;
		line-height: 32px;
		position: relative;
		padding: 40px 70px;
		box-shadow: 0 7px 57px rgba(86, 28, 121, 0.2);
		border-radius: 25px;

		&:before {
			position: absolute;
			left: -35px;
			top: 80px;
			border-right: 36px solid #fff;
			border-bottom: 90px solid transparent;
			content: "";
		}
	}

	&_large {
		position: relative;
		z-index: 1;
	}

	&_large & {
		&__header {
			width: 400px;
			margin-right: 20px;
		}

		&__manager {
			font-size: 18px;
		}

		&__desc {
			&:before {
				top: 150px;
			}
		}
	}

	@media (max-width: 768px) {
		flex-direction: column;
		margin-bottom: 60px;
		margin-top: 0;

		&__header {
			width: 100%;
			flex-direction: row;
		}

		&__photo {
			width: 110px;
			margin-right: 20px;
		}

		&__manager {
			font-size: 13px;
			line-height: 17px;
			text-align: left;
		}

		&__name {
			font-size: 15px;
			font-weight: 700;
			line-height: 15px;
			margin-bottom: 4px;
			max-width: 150px;
		}

		&__desc {
			box-shadow: 0 4px 29px rgba(86, 28, 121, 0.11);
			border-radius: 10px;
			font-size: 13px;
			font-weight: 400;
			line-height: 19px;
			padding: 25px 17px;

			&:before {
				position: absolute;
				left: 110px;
				top: -20px;
				border-bottom: 21px solid #fff;
				border-right: 70px solid transparent;
				content: "";
			}
		}

		&_large & {
			&__manager {
				font-size: 13px;
			}

			&__desc {
				&:before {
					top: -20px;
				}
			}
		}
	}
}
