<template>
	<div class="banner-news">
		<div class="banner-news__inner">
			<div class="banner-news__desc">
				<div class="banner-news__title">
					«Собибор»: каждый билет — помощь детям
				</div>
				<div class="banner-news__text">
					На экраны выходит фильм Константина Хабенского: купив билет на него, вы поможете подопечным Фонда
				</div>
				<div class="banner-news__date">
					28 Апреля 2018
				</div>
			</div>
			<img v-lazyload data-src="/images/banner-news__pic.webp" alt="" class="banner-news__pic">
		</div>
	</div>
</template>

<script>
export default {
	
}
</script>


<style lang="scss" src="@/components/banner/banner-news/banner-news.scss"></style>