.banner-news {
	margin-bottom: 44px;

	&__inner {
		height: 353px;
		border-radius: 7px;
		background-color: #080808;
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__pic {
		display: block;
	}

	&__desc {
		max-width: 380px;
		padding: 0 0 35px 45px;
	}

	&__title {
		color: #ffffff;
		font-family: Khabensky;
		font-size: 36px;
		font-weight: 700;
		line-height: 36px;
		margin-bottom: 28px;
	}

	&__text {
		color: #ffffff;
		font-family: "PT Sans";
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		margin-bottom: 60px;
	}

	&__date {
		color: #adadad;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 500;
		line-height: 17px;
	}
}
