<template>
	<div class="programs-objective">
		<div class="programs-objective__header">
			<div class="programs-objective__photo">
				<img src="/images/programs-objective__pic.webp" alt="" class="programs-objective__pic">
			</div>
			<div class="programs-objective__manager">
				<div class="programs-objective__name">
					Виктория Вяхорева
				</div>
				Директор по коммуникациям
			</div>
		</div>
		<div class="programs-objective__desc">
			<div class="programs-objective__title">
				Цель программы
			</div>
			Повысить эффективность лечения и реабилитации у детей 
			с онкологическими и другими тяжелыми заболеваниями мозга, 
			добавив к ним положительные эмоции. Программа направлена 
			на улучшение психологического состояния подопечных фонда, 
			их социальную адаптацию, налаживание внутрисемейных
			отношений.
		</div>
	</div>
</template>

<script>
export default {
	
}
</script>

<style lang="scss" src="@/components/programs/programs-objective/programs-objective.scss"></style>