.programs-objective {
	&__header {
		margin-bottom: 50px;
		padding: 0 0 0 100px;
		display: flex;
		align-items: center;
	}

	&__photo {
		flex-shrink: 0;
		margin-right: 20px;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__manager {
		color: #774098;
		font-family: "PT Sans";
		font-size: 14px;
		font-style: italic;
		line-height: 20.91px;
	}

	&__name {
		color: #2a2a2a;
		font-family: Khabensky;
		font-size: 26px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0.06px;
		font-style: normal;
	}

	&__desc {
		position: relative;
		padding: 50px;
		min-height: 557px;
		box-shadow: 0 7px 57px rgba(86, 28, 121, 0.2);
		background-color: #ffffff;
		color: #010101;
		font-family: Roboto;
		font-size: 17px;
		line-height: 28px;
		border-radius: 20px;
		position: relative;

		&:before {
			position: absolute;
			left: 190px;
			top: -30px;
			border-bottom: 31px solid #fff;
			border-right: 90px solid transparent;
			content: "";
		}
	}

	&__title {
		color: #78c043;
		font-family: Khabensky;
		font-size: 22px;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 20px;
	}

	@media (max-width: 768px) {
		&__header {
			padding: 0;
			margin-bottom: 20px;
		}

		&__photo {
			width: 110px;
			margin-right: 20px;
		}

		&__manager {
			font-size: 13px;
			line-height: 17px;
		}

		&__name {
			font-size: 15px;
			font-weight: 700;
			line-height: 15px;
			margin-bottom: 8px;
		}

		&__desc {
			box-shadow: 0 4px 29px rgba(86, 28, 121, 0.11);
			background-color: #ffffff;
			padding: 27px 17px;
			border-radius: 10px;
			font-size: 13px;
			font-weight: 400;
			line-height: 19px;
			min-height: auto;

			&:before {
				position: absolute;
				left: 110px;
				top: -20px;
				border-bottom: 21px solid #fff;
				border-right: 70px solid transparent;
				content: "";
			}
		}

		&__title {
			font-size: 16px;
			margin-bottom: 10px;
			line-height: 20px;
		}
	}
}
