.payments-tab {
	margin-bottom: 80px;

	&__title {
		color: #2a2a2a;
		font-family: Khabensky;
		font-size: 40px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: 0.06px;
		margin-bottom: 32px;
	}

	&__smtitle {
		color: #2a2a2a;
		font-family: Khabensky;
		font-size: 28px;
		font-weight: 700;
	}

	&__desc {
		font-size: 18px;
		font-weight: 400;
		line-height: 35px;
	}

	&__logos {
		border-radius: 20px;
		border: 3px solid #f3f3f3;
		margin-bottom: 20px;
		padding: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}
