.footer {
	height          : 240px;
	box-shadow      : 0 7px 87px rgba(94, 59, 116, 0.1);
	background-color: #ffffff;
	padding         : 40px 0 0;
	position        : absolute;
	left            : 0;
	width           : 100%;
	bottom          : 0;
	z-index         : 1;

	&__inner {
		max-width: 1200px;
		padding  : 0 15px;
		margin   : 0 auto;
	}

	&__row {
		display        : flex;
		justify-content: space-between;
	}

	&__col {

		&:nth-child(1),
		&:nth-child(3) {
			width: 540px;
		}
	}

	&__title {
		color        : #774098;
		font-family  : Khabensky;
		font-size    : 22px;
		font-weight  : 700;
		line-height  : 22px;
		margin-bottom: 8px;
	}

	&__phone {
		display      : flex;
		color        : #202020;
		font-family  : "PT Sans";
		font-size    : 20px;
		font-weight  : 700;
		line-height  : 30px;
		align-items  : center;
		margin-bottom: 16px;

		i {
			width        : 6px;
			height       : 6px;
			border-radius: 50px;
			background   : #202020;
			display      : block;
			margin       : 0 5px;
		}

		a {
			text-decoration: none;
			color          : #202020;
		}
	}

	&__info {
		color      : #303030;
		font-family: "PT Sans";
		font-size  : 16px;
		font-weight: 400;
		line-height: 24px;
	}

	&__logo {
		display      : block;
		margin-bottom: 35px;

		img {
			max-width: 100%;
		}
	}

	&__dev {
		a {
			display    : inline-flex;
			align-items: center;
			color      : #303030;

			span {
				margin-left: 12px;
				color      : #303030;
				font-family: "PT Sans";
				font-size  : 16px;
				font-weight: 400;
				line-height: 18px;
			}

			b {
				color: #ed1c24;

				font-weight: 700;
			}
		}
	}

	@media (max-width: 768px) {
		padding-bottom: 26px;
		height        : 378px;

		&__inner {
			padding: 0 12px;
		}

		&__row {
			flex-direction: column;
		}

		&__col {

			&:nth-child(1),
			&:nth-child(3) {
				width: 100%;
			}
		}

		&__title {
			text-align   : center;
			font-size    : 14px;
			margin-bottom: 5px;
			line-height  : 14px;
		}

		&__phone {
			margin-bottom  : 9px;
			font-size      : 15px;
			justify-content: center;
			line-height    : 15px;

			i {}

			a {}
		}

		&__info {
			font-size  : 10px;
			line-height: 12px;
			text-align : center;
			max-width  : 240px;
			margin     : 0 auto 19px;
		}

		&__logo {
			width : 211px;
			margin: 0 auto 16px;
		}

		&__dev {
			display        : flex;
			justify-content: center;
			padding-top    : 20px;

			a {
				flex-direction: column;
				align-items   : center;

				img {
					margin-bottom: 9px;
					width        : 34px;
				}

				span {
					font-size  : 10px;
					line-height: 9px;
				}
			}
		}
	}
}