<template>
	<footer class="footer">
		<div class="footer__inner">
			<div class="footer__row">
				<div class="footer__col">
					<a href="#" class="footer__logo">
						<img v-lazyload :data-src="'/images/footer__logo.svg'" alt>
					</a>
					<!-- /.footer__logo -->
					<FooterSocial />
				</div>
				<!-- /.footer__col -->
				<div class="footer__col">
					<div class="footer__title">Нужна помощь?</div>
					<!-- /.footer__title -->
					<div class="footer__phone">
						<a href="tel:+78002509305">8 800 250-93-05</a>
						<i></i>
						<a href="mailto:info@bfkh.ru">info@bfkh.ru</a>
					</div>
					<!-- /.footer__phone -->
					<div class="footer__info">
						Телефон работает с 10 до 19 по московскому времени.
						Бесплатный для всех регионов России
					</div>
					<!-- /.footer__info -->
				</div>
				<!-- /.footer__col -->
				<div class="footer__col">
					<div class="footer__title">Для партнёров</div>
					<!-- /.footer__title -->
					<div class="footer__phone">
						<a href="tel:+79851963251">+7 985 196-32-51</a>
						<i></i>
						<a href="mailto:partners@bfkh.ru">partners@bfkh.ru</a>
					</div>
					<!-- /.footer__phone -->
					<div class="footer__dev">
						<a href="#">
							<img v-lazyload :data-src="'/images/footer__dev.webp'" alt>
							<span>Сайт сделан в РА <b>MediaNation</b></span>
						</a>
					</div>
					<!-- /.footer__dev -->
				</div>
				<!-- /.footer__col -->
			</div>
			<!-- /.footer__row -->
		</div>
		<!-- /.footer__inner -->
	</footer>
	<!-- /.footer -->
</template>

<style lang="scss" src="@/components/footer/global/footer.scss"></style>

<script>
const FooterSocial = () => import('@/components/footer/footer-social/footer-social.vue');

export default {
	components: {
		FooterSocial
	}
};
</script>
