<template>
	<div class="header-info">
		<div class="header-info__photo">
			<img v-lazyload :data-src="'/images/header-info.png'" alt class="header-info__pic">
		</div>
		<div class="header-info__desc">
			<div class="header-info__text">Обращение Константина</div>
		</div>
		<a href="#" class="header-info__link"></a>
	</div>
</template>

<style lang="scss" src="@/components/header/header-info/header-info.scss"></style>

<script>
	export default {};
</script>
