<template>
	<div class="swiper" :class="mClass">
		<div v-show="pagination" class="swiper__pagination js-swiper__pagination"></div>
		<div v-show="scrollbar" class="swiper__scrollbar js-swiper__scrollbar"></div>
		<div v-show="arrows" class="swiper__arrows">
			<div class="swiper__prev js-swiper__prev"></div>
			<div class="swiper__next js-swiper__next"></div>
		</div>
		<div class="swiper-container" v-swiper="options">
			<div class="swiper-wrapper">
				<slot></slot>
			</div>			
		</div>
	</div>
</template>

<script> 
export default {
	props: {
		mClass: {
			type: String
		},
		pagination: {
			type: Boolean,
			default: true
		},
		arrows: {
			type: Boolean,
			default: true
		},
		scrollbar: {
			type: Boolean,
			default: false
		},
		options: {
			type: Object,
			default: () => ({

			})
		}
	},
	data() {
		return {
			swiperSlide: []
		}
	},
	created() {
		this.swiperSlide = this.$children;
	}
}
</script>

<style lang="scss" src="@/components/swiper/swiper/swiper.scss"></style>