<template>
	<div class="counter-list" :class="mClass">
		<ul class="counter-list__list">
			<li class="counter-list__item" v-for="(item, index) in counterListArray" :key="index" :class="item.mClass">
				<div class="counter-list__title">
					{{ item.title }}
				</div>
				{{ item.text }}
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	props: [
		'mClass',
		'counterListArray'
	]
}
</script>

<style lang="scss" src="@/components/counter-list/counter-list.scss"></style>