<template>
	<div class="banner-small">
		<img v-lazyload :data-src="'/images/banner-small__pic' + srcIndex + '.webp'" alt="" class="banner-small__pic">
		<div class="banner-small__title">{{ title }}</div> 
	</div>
</template>

<script>
export default {
	props: [
		'srcIndex',
		'title'
	]
}
</script>

<style lang="scss" src="@/components/banner/banner-small/banner-small.scss"></style>