.indent {
	&_helpchild {
		margin-bottom: 100px;
	}

	&_mainbanner {
		margin-bottom: 83px;
	}

	@media (max-width: 768px) {
		&_mainbanner {
			margin-bottom: 29px;
		}

		&_helpchild {
			margin-bottom: 24px;
		}

		&_newsitem,
		&_helpchild {
			.row {
				flex-wrap: nowrap;
				overflow: auto;
				margin: 0 -11px;
				scroll-behavior: smooth;
				-webkit-overflow-scrolling: touch;

				[class*=col-] {
					padding: 0 11px;
				}
			}
		}
	}
}
