.smtitle {
	font-family: Khabensky;
	font-weight: 700;
	line-height: 29px;
	color: #2a2a2a;
	font-size: 40px;
	margin-bottom: 30px;

	&__link {
		color: #d14d9c;
		font-size: 20px;

		&_green {
			color: #78c043;
			font-size: 29px;
		}
	}

	@media (max-width: 768px) {
		margin-bottom: 16px;

		&__link {
			font-size: 13px;
			display: inline-block;
			line-height: 16px;
		}
	}
}
