.title {
	color: #2a2a2a;
	font-family: "Roboto Slab";
	font-size: 45px;
	font-weight: 700;
	line-height: 55px;
	margin: 0 0 24px;

	&_46 {
		font-size: 46px;
		margin-bottom: 40px;
	}

	&_bigger {
		font-size: 48px;
		line-height: 64px;
	}

	&__info {
		color: #353535;
		font-family: "PT Sans";
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
	}

	@media (max-width: 768px) {
		color: #2a2a2a;
		font-family: Khabensky;
		font-size: 18px;
		font-weight: 700;
		line-height: 24.01px;
		margin-bottom: 18px;
	}
}
