<template>
	<div class="child-item">
		<img :data-src="src" alt="" class="child-item__pic swiper-lazy">
		<div class="child-item__text">
			{{ text }}
		</div>
	</div>
</template>

<script>
export default {
	props: [
		'src',
		'text'
	]
}
</script>

<style lang="scss" src="@/components/help/child-item/child-item.scss"></style>