<template>
	<div class="team">

		<div class="team__top">
			<div class="team__title">
				Команда Фонда
			</div>
			<div class="team__buttons">
				<a href="#" class="team__link">Экспертный совет</a>
				<a href="#" class="team__link">Попечительский совет</a>
			</div>
		</div>

		<div class="team__swiper">
			<swiper :options="swiperOption" :pagination="false" mClass="swiper_largearrows">
				<swiper-slide v-for="(item, index) in swiperImages" :key="index">
					<div class="team__item" :class="(index === 3) ? 'active' : ''">
						<img :data-src="item" alt="" class="team__pic swiper-lazy">
						<div class="team__hidden">
							Анна Сысоева
						</div>
					</div>
				</swiper-slide>
			</swiper>
		</div>
		
		<div class="team__section">

			<div class="team__row">
				<div class="team__photo">
					<img v-lazyload data-src="/images/team__swiper_big.webp" alt="" class="team__pic team__pic_big">
				</div>
				<div class="team__desc">
					<div class="team__header">
						<div class="team__name">
							Виктория Вяхорева
						</div>
						Директор по коммуникациям
					</div>
					<div class="team__text">
						Одна спасенная жизнь, вовремя сделанная операция, помощь с оплатой лекарств, без которых
						не наступила бы ремиссия, — именно с этого начинался Благотворительный Фонд Константина
						Хабенского десять лет назад. Как тогда, так и сейчас Фонд адресно помогает детям, родители которых
						услышали в кабинете врача пугающий диагноз — опухоль мозга. Если до 2013 года Константин 
						Хабенский работал практически в одиночку, то сейчас в Фонде двадцать сотрудников, и собирать 
						деньги на лечение детей помогают все.
					</div>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
export default {
	data() {
		return  {
			swiperOption: {
                slidesPerView: 9,
				lazy: true,
				breakpoints: {
					768: {
						slidesPerView: 3
					}
				}
            },
			swiperImages: [
				'/images/team__swiper1.webp',
				'/images/team__swiper2.webp',
				'/images/team__swiper3.webp',
				'/images/team__swiper4.webp',
				'/images/team__swiper5.webp',
				'/images/team__swiper6.webp',
				'/images/team__swiper7.webp',
				'/images/team__swiper8.webp',
				'/images/team__swiper9.webp',
				'/images/team__swiper1.webp',
				'/images/team__swiper2.webp',
				'/images/team__swiper3.webp',
				'/images/team__swiper4.webp'
			]
		}
	}
}
</script>


<style lang="scss" src="@/components/fund/team/team.scss"></style>