.team {
	margin-bottom: 89px;
	position: relative;
	z-index: 1;

	&__top {
		margin-bottom: 36px;
		position: relative;
		padding-bottom: 16px;
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		&:after {
			position: absolute;
			left: -400%;
			right: -400%;
			bottom: 0;
			height: 1px;
			background: #f1f1f1;
			content: "";
		}
	}

	&_buttons {
		display: flex;
	}

	&__item {
		cursor: pointer;
	}

	&__title {
		color: #2a2a2a;
		font-family: Khabensky;
		font-size: 45px;
		font-weight: 700;
		line-height: 45px;
	}

	&__link {
		color: #7f7f7f;
		font-family: Khabensky;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		margin-left: 50px;
	}

	&__swiper {
		margin-bottom: 45px;
	}

	&__pic {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		border-radius: 50%;
		border: 3px solid transparent;
		transition: border 500ms;

		&_big {
			border: none;
		}
	}

	&__hidden {
		padding-top: 8px;
		color: #2a2a2a;
		font-family: Khabensky;
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		line-height: 19.84px;
		letter-spacing: 0.06px;
		opacity: 0;
		transition: opacity 500ms;
	}

	&__item:hover &__pic {
		border: 3px solid #754099;
	}

	&__item.active &__pic {
		border: 3px solid #d14d9c;
	}

	&__item.active &__hidden {
		opacity: 1;
	}

	&__section {}

	&__row {
		display: flex;
	}

	&__photo {
		width: 270px;
		margin-right: 45px;
		flex-shrink: 0;
	}

	&__desc {}

	&__header {
		color: #774098;
		font-family: "PT Sans";
		font-size: 14px;
		font-style: italic;
		line-height: 20.41px;
		margin-bottom: 16px;
	}

	&__name {
		color: #2a2a2a;
		font-family: Khabensky;
		font-size: 36px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 0.06px;
		margin-bottom: 4px;
		font-style: normal;
	}

	&__text {}

	@media (max-width: 768px) {
		margin-bottom: 50px;

		&__top {
			flex-direction: column;
			margin-bottom: 16px;
			padding-bottom: 10px;
		}

		&__buttons {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		&__link {
			margin: 0;
			font-size: 13px;
		}

		&__title {
			font-size: 18px;
			font-weight: 700;
			line-height: 1;
			margin-bottom: 16px;
		}

		&__swiper {
			padding: 0 30px;
			margin: 0;
		}

		&__hidden {
			font-size: 15px;
		}

		&__pic {
			max-width: 68px;
		}

		&__row {
			flex-direction: column;
			position: relative;
		}

		&__photo {
			width: 115px;
			margin-bottom: 20px;
		}

		&__header {
			font-size: 13px;
			position: absolute;
			left: 130px;
			top: 27px;
		}

		&__name {
			font-size: 15px;
			font-weight: 700;
			line-height: 15px;
		}

		&__text {
			font-size: 13px;
			font-weight: 400;
			line-height: 19px;
		}
	}
}
