.header-help {
	position: absolute;
	right   : 0;
	top     : 88px;

	&__row {
		display    : flex;
		align-items: flex-start;
	}

	&__col {
		&:first-child {
			padding-top   : 4px;
			margin-right  : 16px;
			display       : flex;
			flex-direction: column;
			align-items   : flex-end;
		}
	}

	&__text {
		color      : #484848;
		font-family: "PT Sans";
		font-size  : 16px;
		font-weight: 400;
		line-height: 28px;
	}

	&__cash {
		color      : #ff6700;
		font-family: Khabensky;
		font-size  : 20px;
		font-weight: 700;
	}

	&__button {
		width           : 214px;
		height          : 65px;
		border-radius   : 5px;
		background-color: #ff6700;
		margin-bottom   : 13px;
		display         : flex;
		align-items     : center;
		color           : #ffffff;
		font-family     : Khabensky;
		font-size       : 24px;
		font-weight     : 700;
		line-height     : 1;
		letter-spacing  : 0.1px;
		padding         : 0 0 0 29px;
		position        : relative;

		&:after {
			position  : absolute;
			right     : 29px;
			top       : 0;
			height    : 100%;
			background: url("/images/header-help__button.svg") no-repeat right center;
			width     : 44px;
			content   : '';
		}
	}

	&__info {
		color      : #ff6700;
		font-family: Khabensky;
		font-size  : 14px;
		font-weight: 700;
		line-height: 22.36px;
		text-align : center;
	}

	@media (max-width: 768px) {
		right    : 46px;
		top      : 50%;
		transform: translate(0, -50%);

		&__row {
			display    : flex;
			align-items: flex-start;
		}

		&__col {
			&:first-child {
				display: none;
			}
		}

		&__text {}

		&__cash {}

		&__button {
			width           : 138px;
			height          : 32px;
			border-radius   : 5px;
			background-color: #ff6700;
			margin          : 0;
			font-size       : 13px;
			padding-top     : 4px;

			&:after {
				width          : 23px;
				background-size: 100% auto;
				right          : 25px;
			}
		}

		&__info {
			display: none;
		}
	}
}