<template>
	<div class="header-help">
		<div class="header-help__row">
			<div class="header-help__col">
				<div class="header-help__text">В 2018 году собрано</div>
				<div class="header-help__cash">72 493 108, 33 c</div>
			</div>
			<div class="header-help__col" @click="closeMenu">
				<nuxt-link to="/help" class="header-help__button">Помочь</nuxt-link>
				<div class="header-help__info">Вам нужна помощь?</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	methods: {
		closeMenu() {
			document.body.classList.remove('mobile-menu-show');
		}
	}
}
</script>

<style lang="scss" src="@/components/header/header-help/header-help.scss"></style>
