<template>
    <div class="programs-fund">
        <div class="programs-fund__title">Программы Фонда</div>
        <div class="programs-fund__text">
            Текст про то, что Фонд считает важным не просто помогать детям адресно, но развивать инфраструктурно и бороться с болезнями комплексно, предупреждать их, развивать науку и медицину. И то, что это может быть даже важнее адресной помощи. Как ещё замотивировать обычных людей помогать с программами? Как показать  им, что это важно?
        </div>
        <div class="programs-fund__section"> 

            <Swiper /> 

        </div>
    </div>
</template>

<script>

import Swiper from '@/components/programs/programs-fund/swiper/swiper';

export default {
    components: {
        Swiper
    }
}
</script>

<style lang="scss" src="@/components/programs/programs-fund/programs-fund.scss"></style> 
