<template>
    <div class="programs-fund__item" :class="mClass">
        <div class="programs-fund__header">
            <div class="programs-fund__name">
                {{ title }}
            </div>
        </div>
        <template v-if="imgSrc">
            <div class="programs-fund__gallery">
                <img v-lazyload :data-src="imgSrc" alt="" class="programs-fund__pic">
            </div>
        </template>
        <div v-else class="programs-fund__content">
            {{ content }}
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'title',
        'content',
        'mClass',
        'imgSrc'
    ]
}
</script>

