.programs-fund {
	margin-bottom: 120px;

	&__title {
		color: #2a2a2a;
		font-family: Khabensky;
		font-size: 46px;
		font-weight: 700;
		line-height: 75.01px;
		margin-bottom: 30px;
	}

	&__text {
		color: #272727;
		font-family: "PT Sans";
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 39px;
	}

	&__section {}

	&__item {
		height: 424px;
		border-radius: 20px;
		background-color: #3d94d1;

		&_green {
			background: #78c043;
		}

		&_purple {
			background: #d14d9c;
		}
	}

	&__header {
		height: 144px;
		box-shadow: 0 7px 117px rgba(0, 0, 0, 0.1);
		background-color: #3d94d1;
		color: #33efba;
		font-family: Khabensky;
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		padding: 30px 50px 20px;
		border-radius: 20px 20px 0 0;
	}

	&__item_green &__header {
		box-shadow: 0 7px 117px rgba(0, 0, 0, 0.1);
		background-color: #78c043;
		color: #f0e800;
	}

	&__item_purple &__header {
		color: #774098;
		background-color: #d14d9c;
	}

	&__content {
		color: #ffffff;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 400;
		line-height: 27px;
		padding: 55px 50px;
	}

	&__pic {
		display: block;
		width: 100%;
	}

	@media (max-width: 768px) {
		margin-bottom: 26px;

		&__title {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 8px;
		}

		&__text {
			font-size: 12px;
			font-weight: 400;
			line-height: 19px;
			margin-bottom: 16px;
		}

		&__item {
			height: 225px;
			border-radius: 10px;
		}

		&__header {
			height: 72px;
			font-size: 16px;
			font-weight: 700;
			line-height: 20.01px;
			padding: 0 25px;
			display: flex;
			align-items: center;
		}

		&__content {
			font-size: 12px;
			font-weight: 400;
			line-height: 19px;
			padding: 25px;
		}

		.swiper__arrows {
			display: none;
		}
	}
}
