.reports-item {
	margin-bottom: 45px;

	&__photo {
		width: 159px;
		height: 200px;
		margin-bottom: 16px;
	}

	&__pic {
		display: block;
		max-width: 100%;
		max-width: 100%;
		border-radius: 7px;
		transition: all 500ms;
		transform: scale(1);
	}

	&__text {
		color: #313131;
		font-family: Khabensky;
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 8px;
		transition: color 500ms;
	}

	&__size {
		color: #2e2e2e;
		font-family: "PT Sans";
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
	}

	&:hover &__text {
		color: #774098;
	}

	&:hover &__pic {
		box-shadow: 0 26px 50px rgba(0, 0, 0, 0.15);
		transform: scale(1.1);
	}

	@media (max-width: 768px) {
		margin-bottom: 30px;

		&__photo {
			width: auto;
			height: 170px;
			margin-bottom: 28px;
		}

		&__pic {}

		&__text {
			font-size: 13px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 0;
		}

		&__size {
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
		}
	}
}
