<template>
	<div class="reports-item">
		<div class="reports-item__photo">
			<img v-lazyload :data-src="src" alt="" class="reports-item__pic">
		</div>
		<div class="reports-item__text">{{ text }}</div>
		<div class="reports-item__size">{{ size }}</div>
	</div>
</template>

<script>
export default {
	props: [
		'src',
		'text',
		'size'
	]
}
</script>


<style lang="scss" src="@/components/reports/reports-item/reports-item.scss"></style>