<template>
	<div class="news-detail">

		<Progress text="Уже собрали " need="643789" remains="356300" cash="1000000" />

		<div class="news-detail__inner">
			<div class="news-detail__section">
				<div class="news-detail__child">
					
					<div class="news-detail__swiper">
						<swiper :arrows="false">
							<swiper-slide>
								<img src="/images/news-detail__pic.webp" alt="">
							</swiper-slide>
							<swiper-slide>
								<img src="/images/news-detail__pic.webp" alt="">
							</swiper-slide>
							<swiper-slide>
								<img src="/images/news-detail__pic.webp" alt="">
							</swiper-slide>
							<swiper-slide>
								<img src="/images/news-detail__pic.webp" alt="">
							</swiper-slide>
						</swiper>
					</div>

					<SocialItems :mClass="'social-items_column'" /> 

				</div>
				<div class="news-detail__title">
					13 лет<br>Медуллобластома червя мозжечка<br>и IV желудочка
				</div>
				<p>
					Татэ цуки, стремительное маваши, рабочий кайтен гери...Много незнакомых 
					загадочных слов? Все они - источник вдохновения, азарта и веры в себя для
					нашего подопечного Семена. Названия приемов и сейчас всплывают в мыслях
					Сени, когда он с ностальгией вспоминает свои тренировки в клубе каратэ. 
					Сейчас мальчик не может выйти на ковер и очень переживает из-за того, 
					что пропускает занятия и соревнования. 
				</p>
				<p>
					Свой диагноз Сеня узнал в феврале 2016 года после того, как прошел
					обследование МРТ. В борьбе с болезнью наш подопечный держится
					мужественно: за его плечами - операция в НИИ им. Бурденко и лучевая
					терапия в РОНЦ им. Блохина. Теперь Сене предстоит пройти высокодозную 
					полихимиотерапию. Мальчику требуется помощь в оплате лечения и покупке
					лекарств. 
				</p>
				<p>
					Мы очень хотим, чтобы назначенное лечение не оставило болезни шансов,
					и борец Семен вышел из этой тяжелой схватки победителем! Как известно,
					даже профессиональные спортсмены в решающий момент нуждаются
					в поддержке болельщиков. Мы очень хотим, чтобы Сеня почувствовал
					поддержку тех, кто познакомился с ним, прочитав его историю.
				</p>
			</div>
			<div class="news-detail__footer">
				<div class="news-detail__date">
					05 сентября 2018
				</div>
				<div class="news-detail__info">
					Семён вместе с мамой <span>принял участие в реабилитационной программе в Финляндии</span>
				</div>
			</div>
			<div class="news-detail__footer">
				<div class="news-detail__date">
					08 сентября 2018
				</div>
				<div class="news-detail__info">
					Спасибо всем и каждому, кто помогал Дане! Вместе мы смогли собрать большую сумму в помощь нашему подопечному. 
				</div>
			</div>
			<div class="news-detail__footer">
				<div class="news-detail__date">
					08 сентября 2018
				</div>
				<div class="news-detail__infotext">
					Благодаря вашей поддержке Даня прошел первые курсы медицинской реабилитациии достиг больших результатов: у него
					уже не так сильно дрожит левая рука, уменьшилась шаткость походки и полностью восстановилось зрение. Однако
					это лишь начальный этап, и над многим еще предстоит работать: Дане нужно развивать логику, внимание и память, поэтому сейчас ему предстоят занятия с психологом. Кроме того, мальчик должен выполнять упражнения на специальном тренажере, чтобы укреплять мышцы ног и рук. Даня мечтает снова демонстрировать удивительные фокусы своим родным, а без ловкости рук в этом деле никуда. Мы очень хотим, чтобы юный волшебник вернул этот и многие другие утраченные навыки.
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Progress from '@/components/progress/progress/progress';
import SocialItems from '@/components/social/social-items/social-items';

export default {
	components: {
		Progress,
		SocialItems
	}
}
</script>

<style lang="scss" src="@/components/news-detail/news-detail.scss"></style>