.news-detail {
	margin-bottom: 90px;

	&__inner {
		padding-top: 55px;
	}

	&__section {
		color: #2e2e2e;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 400;
		line-height: 32px;
	}

	&__child {
		float: right;
		width: 425px;
		margin: 0 0 100px 80px;
	}

	&__swiper {
		margin-bottom: 16px;
	}

	&__title {
		color: #313131;
		font-family: Khabensky;
		font-size: 28px;
		font-weight: 700;
		line-height: 40px;
		margin-bottom: 40px;
	}

	&__footer {
		margin-bottom: 30px;
	}

	&__date {
		color: #717171;
		font-size: 16px;
		margin-bottom: 8px;
	}

	&__info {
		color: #313131;
		font-family: Khabensky;
		font-size: 22px;
		font-weight: 700;

		span {
			color: #754099;
		}
	}

	&__infotext {}
}
