.news-item {
	position: relative;
	margin-bottom: 52px;

	&__photo {
		margin-bottom: 16px;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__content {}

	&__name {
		color: #343434;
		font-family: Khabensky;
		font-size: 22px;
		font-weight: 700;
		letter-spacing: -0.04px;
		line-height: 32px;
	}

	&__url {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__text {
		color: #2e2e2e;
		font-family: "PT Sans";
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		margin-bottom: 16px;
	}

	&__date {
		color: #adadad;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 500;
	}

	&_large & {
		&__name {
			font-size: 28px;
			line-height: 36px;
			margin-bottom: 16px;
		}
	}

	&_report & {
		&__name {
			margin-bottom: 0;
		}
	}

	@media (max-width: 768px) {
		width: 180px;
		margin-bottom: 30px;

		&__name,
		&_large &__name {
			font-family: Khabensky;
			font-size: 14px;
			font-weight: 700;
			line-height: 18.01px;
			margin-bottom: 8px;
		}

		&__text {
			font-size: 13px;
			line-height: 15px;
			margin-bottom: 4px;
		}

		&__date {
			font-size: 10px;
			font-weight: 500;
			line-height: 15.52px;
		}
	}
}
