<template>
	<div class="news-item" :class="mClass">
		<div class="news-item__photo">
			<img v-lazyload :data-src="src" alt="" class="news-item__pic">
		</div>
		<div class="news-item__content">
			<div class="news-item__name">{{ name }}</div>
			<div class="news-item__text" v-if="text">{{ text }}</div>
			<div class="news-item__date" v-if="date">{{ date }}</div>
		</div>
		<a :href="url" class="news-item__url"></a>
	</div>
</template>

<script>
export default {
    props: [
		'mClass',
        'src',
        'url',
		'name',
		'text',
		'date' 
    ]
}
</script>

<style lang="scss" src="@/components/news/news-item/news-item.scss"></style>