<template>
	<div class="help-child" :class="mClass">
		<div class="help-child__photo">
			<a :href="url" class="help-child__link">
				<img v-lazyload :data-src="src" alt="" class="help-child__pic">
			</a>
		</div>
		<div class="help-child__desc">
			<div class="help-child__name" v-html="name"></div>
			<div class="help-child__footer" v-if="mClass == 'help-child_large'">
				<Progress text="Собрано " :need="need" :cash="cash" />
			</div>
		</div>
		<div class="help-child__footer" v-if="mClass != 'help-child_large'">
			<Progress text="Собрано " :need="need" :cash="cash" />
		</div>
	</div>
</template>

<script>
import Progress from '@/components/progress/progress/progress';

export default {
	props: [
		'mClass',
		'name',
		'url',
		'src',
		'need',
		'cash',
	],
	components: {
		Progress
	},
	data() {
		return {

		}
	}
}
</script>

<style lang="scss" src="@/components/help/help-child/help-child.scss"></style>