.help-child {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&__photo {
		margin-right: 20px;
		width: 135px;
		flex-shrink: 0;
	}

	&__link {
		text-decoration: none;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__desc {
		max-width: calc(100% - 155px);
	}

	&__name {
		color: #2e2e2e;
		font-family: Khabensky;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;

		span {
			color: #754099;
		}
	}

	&__footer {
		width: 100%;
		padding-top: 20px;
		max-width: 355px;
	}

	&_large {
		align-items: flex-start;
	}

	&_large & {
		&__photo {
			width: 165px;
		}

		&__desc {
			width: calc(100% - 185px);
		}

		&__name {
			font-size: 24px;
		}
	}

	@media (max-width: 768px) {
		width: 200px;

		&__photo {
			margin-right: 15px;
			width: 70px;
		}

		&__desc {
			max-width: calc(100% - 85px);
		}

		&__name {
			font-size: 11px;
			font-weight: 700;
			line-height: 12px;

			span {
				font-size: 13px;
			}
		}

		&__footer {
			padding-top: 10px;
		}
	}
}
