.news-list {
	&__item {
		margin-bottom: 64px;
		display: flex;
	}

	&__photo {
		margin-right: 36px;
		flex-shrink: 0;
		width: 229px;
	}

	&__link {
		text-decoration: none;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__desc {
		padding-top: 30px;

		&_indentzero {
			padding-top: 0;
		}
	}

	&__name {
		color: #313131;
		font-family: Khabensky;
		font-size: 26px;
		font-weight: 700;
		line-height: 36px;
		margin-bottom: 16px;
	}

	&__namelink {
		color: #313131;

		span {
			color: #754099;
		}
	}

	&__text {
		color: #2e2e2e;
		font-family: "PT Sans";
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 35px;
	}

	&__more {
		color: #d14e9c;
		font-family: Roboto;
		font-size: 15px;
		line-height: 24px;
	}

	&__footer {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
	}

	@media (max-width: 768px) {
		&__item {
			margin-bottom: 45px;
		}

		&__photo {
			width: 80px;
			margin-right: 15px;
		}

		&__desc {
			padding: 0;
		}

		&__name {
			font-size: 12px;
			font-weight: 700;
			line-height: 18px;
			margin-bottom: 4px;
		}

		&__text {
			font-size: 11px;
			font-weight: 400;
			line-height: 16px;
			margin-bottom: 10px;
		}

		&__more {
			font-size: 12px;
			font-weight: 400;
			line-height: 11px;
			line-height: 12px;
			display: block;
		}
	}
}
