<template>
	<section class="container">

		<breadcrumbs :breadcrumbs="breadcrumbsItems" />

		<h1 class="title title_bigger">Помочь Семёну Смирнову</h1>
		
		<div class="help__progress">
			<div class="help__progressbar">
				<ProgressFull
					:need="643789"
					:remains="356300"
				/>
			</div>
		</div>

		<div class="line"></div>

		<div class="row help align-items-stretch">
			<div class="col-sm-8">

				<FormPayment /> 

			</div>
			<div class="col-sm-4">

				<div class="help__child">
					<swiper :arrows="false" :options="swiperOption">
						<swiper-slide v-for="(item, index) in [1, 2, 3, 4]" :key="index">

							<ChildItem
								src="/images/helpchild__pic.webp"
								text="Ему 13 лет, он занимается каратэ и верит в себя. Семён борется с Медуллобластомой червя мозжечка и IV желудочка"
							/>

						</swiper-slide>
					</swiper>
				</div>

			</div>
		</div>

		<div class="container__row">
			<div class="container__col">
				<h1 class="title">Другие дети</h1>
			</div>
			<div class="container__col">
				<nuxt-link to="/news" class="container__link">Все дети</nuxt-link>
			</div>
		</div>
		<!-- /.row -->

		<div class="indent indent_helpchild">
			<div class="row">
				<div class="col-sm-4" v-for="(item, index) in help" :key="index">

					<HelpChild
						:name="item.name"
						:url="item.url"
						:src="item.src"
						:need="item.need"
						:cash="item.cash" 
					/>

				</div>
			</div>
		</div>

	</section>
</template> 

<script>
import Breadcrumbs from '@/components/breadcrumbs/breadcrumbs';
import FormPayment from '@/components/form/form-payment/form-payment';
import ProgressFull from '@/components/progress/progress-full/progress-full';
import HelpChild from '@/components/help/help-child/help-child';
import ChildItem from '@/components/help/child-item/child-item';

export default {
	components: {
		Breadcrumbs,
		ProgressFull,
		FormPayment,
		HelpChild,
		ChildItem
	},
	data() {
		return {
			breadcrumbsItems: [
				{ url: '/', text: 'Благотворительный фонд Константина Хабенского'},
				{ url: '', text: 'Помочь Семёну'}
			],
			counterListArray: [
				{
					title: '72 493 108, 33 ₽',
					mClass: 'counter-list__item_orange',
					text: 'Уже собрано в этом году'
				},
				{
					title: '176 волонтёров',
					mClass: 'counter-list__item_blue',
					text: 'Трудятся в проектах Фонда'
				},
				{
					title: '67 компаний',
					mClass: 'counter-list__item_loader',
					text: 'Помогают деньгами и услугами'
				}
			],
			help: [
				{
					name: '<span>Иброхимжон Бадалов</span> борется с медуллобластомой червя мозжечка',
					url: '/',
					src: '/images/help-child__pic1.webp',
					need: '386300',
					cash: '1000000'
				},
				{
					name: '<span>Семёну Смирнову</span> на оплату лечения и приобретение лекарственных препаратов',
					url: '/',
					src: '/images/help-child__pic2.webp',
					need: '386300',
					cash: '1000000'
				},
				{
					name: '<span>Семёну Смирнову</span> на оплату лечения и приобретение лекарственных препаратов',
					url: '/',
					src: '/images/help-child__pic2.webp',
					need: '386300',
					cash: '1000000'
				}
			],
			swiperOption: {
                slidesPerView: 1,
				spaceBetween: 20,
				lazy: true
            }		
		}
	}
};
</script>

<style lang="scss" scoped>
.help {
	margin-bottom: 80px;

	&__child {
		width: 320px;
		float: right;
		padding-top: 75px;
	}

	&__progress {
		position: relative;
	}

	&__progressbar {
		position: absolute;
		right: 0;
		width: 320px;
		top: -25px;
	}
}
</style>