<template>
	<section class="container">

		<breadcrumbs :breadcrumbs="breadcrumbsItems" />

		<div class="container__row">
			<div class="container__col">
				<h1 class="title title_bigger">Помочь Фонду</h1>
			</div>
			<div class="container__col container__col_indent">
				<a href="#" class="button-smile">
					<span class="button-smile__icon"></span>
					<div class="button-smile__text">Волонтёрам</div>
				</a>
				<a href="#" class="button-hand">
					<span class="button-hand__icon"></span>
					<div class="button-hand__text">Компаниям</div>
				</a>
				<a href="#" class="button-heart">
					<span class="button-heart__icon"></span>
					<div class="button-heart__text">Помочь по-другому</div>
				</a>
			</div> 
		</div>
		
		<div class="line"></div>

		<div class="row help align-items-stretch">
			<div class="col-sm-8">

				<FormPayment />

			</div>
			<div class="col-sm-4">

				<div class="help__gift">
					<a href="#" class="button-gift">
						<span class="button-gift__icon"></span>
						<div class="button-gift__text">
							Благотворительность<br>вместо сувениров
						</div>
					</a>
				</div>

				<CounterList mClass="counter-list_column" :counterListArray="counterListArray" />

			</div>
		</div>

		<PaymentsTab />

	</section>
</template> 

<script>
import Breadcrumbs from '@/components/breadcrumbs/breadcrumbs';
import FormPayment from '@/components/form/form-payment/form-payment';
import PaymentsTab from '@/components/help/payments-tab/payments-tab';
import CounterList from '@/components/counter-list/counter-list';

export default {
	components: {
		Breadcrumbs,
		FormPayment,
		PaymentsTab,
		CounterList
	},
	data() {
		return {
			breadcrumbsItems: [
				{ url: '/', text: 'Благотворительный фонд Константина Хабенского'},
				{ url: '', text: 'Помочь'}
			],
			counterListArray: [
				{
					title: '72 493 108, 33 ₽',
					mClass: 'counter-list__item_orange',
					text: 'Уже собрано в этом году'
				},
				{
					title: '176 волонтёров',
					mClass: 'counter-list__item_blue',
					text: 'Трудятся в проектах Фонда'
				},
				{
					title: '67 компаний',
					mClass: 'counter-list__item_loader',
					text: 'Помогают деньгами и услугами'
				}
			]
		}
	}
};
</script>

<style lang="scss" scoped>
.help {
	margin-bottom: 80px;

	&__gift {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 150px;
	}
}
</style>