<template>
	<section class="container">

		<breadcrumbs :breadcrumbs="breadcrumbsItems" /> 

		<div class="container__row">
			<div class="container__col">
				<h1 class="title">Кому нужна помощь</h1>
			</div>
			<div class="container__col">
				<nuxt-link class="button-helped" to="/">
					<span class="button-helped__icon"></span>
					<span class="button-helped__text">
						Кому мы уже помогли
					</span>
				</nuxt-link>
				<nuxt-link class="button-remember" to="/remember">
					<span class="button-remember__icon"></span>
					<span class="button-remember__text">
						Кого мы помним
					</span>
				</nuxt-link>
			</div>
		</div>
		<!-- /.row -->

		<div class="line"></div>
		<!-- /.line -->
 
		<div class="news">
			<NewsList
			 v-for="(item, index) in newsListData"
			 :key="index"
			 :index="index"
			 :mClass="true"
			 :url="item.url"
			 :src="item.srcPhoto"
			 :name="item.name" 
			 :text="item.content"
			 :more="item.more"
			 :need="item.need"
			 :cash="item.cash"
			 :remains="item.remains"
			 :social="true"
			 :lastIndex="newsListData.length"
			/>
		</div>

		<ProgramFund />
		
		<SelectAway />

	</section>
</template> 

<script>
import Breadcrumbs from '@/components/breadcrumbs/breadcrumbs';
import NewsList from '@/components/news/news-list/news-list';
import SelectAway from '@/components/select-away/select-away';
import ProgramFund from '@/components/programs/programs-fund/programs-fund'
import axios from 'axios';

export default {
	components: {
		Breadcrumbs,
		NewsList,
		SelectAway,
		ProgramFund
	},
	data() {
		return {
			breadcrumbsItems: [
				{ url: '/', text: 'Благотворительный фонд Константина Хабенского'},
				{ url: '', text: 'Дети ищут помощи'}
			],
			newsListData: []
		}
	},
	mounted() {
		axios.get('https://bfkh.web-tools24.ru/api/news-list-children-data-help.json')
			.then(res => {
				this.newsListData = res.data
			})
	}
};
</script>
