<template>
	<section class="container">

		<breadcrumbs :breadcrumbs="breadcrumbsItems" />

		<div class="title">Новости</div>

		<MenuContent :dataItems="menuContent" />

		<BannerNews />

		<div class="row">
			<div class="col-sm-8">

				<div class="row">
					<div class="col-sm-6" v-for="(item, index) in newsTop" :key="index">

						<NewsItem
							:mClass="'news-item_large'"
							:src="item.src"
							:name="item.name"
							:url="'/'"
							:text="item.text"
							:date="item.date"
						/>

					</div>
				</div>

			</div>
			<div class="col-sm-4">
				
				<NewsReport />

			</div>

			<div class="col-sm-12">

				<div class="row">
					<div v-for="(item, index) in newsBottom" :key="index" :class="(index != 1) ? 'col-sm-4' : 'col-sm-8'">

						<template v-if="index != 1">
							<NewsItem
								:mClass="'news-item_large'"
								:src="item.src"
								:name="item.name"
								:url="'/'"
								:text="item.text"
								:date="item.date"
							/>
						</template>
						<template v-else>
							<NewsBig />
						</template>

					</div>
				</div>

			</div>
			
		</div>

		<Pagination />

		<SelectAway />

	</section>
</template> 

<script>
import Breadcrumbs from '@/components/breadcrumbs/breadcrumbs';
import MenuContent from '@/components/menu/menu-content/menu-content';
import BannerNews from '@/components/banner/banner-news/banner-news';
import NewsReport from '@/components/news/news-report/news-report';
import NewsItem from '@/components/news/news-item/news-item';
import NewsBig from '@/components/news/news-big/news-big';
import Pagination from '@/components/pagination/pagination';
import SelectAway from '@/components/select-away/select-away';

export default { 
	components: {
		Breadcrumbs,
		MenuContent,
		BannerNews,
		NewsReport,
		NewsItem,
		NewsBig,
		Pagination,
		SelectAway
	},
	data() {
		return {
			breadcrumbsItems: [
				{ url: '/', text: 'Благотворительный фонд Константина Хабенского'},
				{ url: '', text: 'Новости'}
			],
			menuContent: [
				'Все новости',
				'Адресная помощь',
				'Знать и не бояться',
				'Терапия счастья',
				'Oncobrain.ru',
				'Открытые реанимации',
				'Помощь медицинским учреждениям',
				'Звёзды против рака',
				'Реабилитация',
				'Проекты и мероприятия'
			],
			newsTop: [
				{
					src: '/images/news-item__pic_main1.webp',
					name: 'Помогайте Фонду вместе с «Уральскими авиалиниями»',
					text: 'Покупая авиабилеты, вы поддерживаете наших подопечных',
					date: '28 Апреля 2018'
				},
				{
					src: '/images/news-item__pic_main2.webp',
					name: 'Как приобщить школьников к благотворительности',
					text: 'Инструкция для родителей, учителей и самих учеников',
					date: '26 Апреля 2018'
				},
				{
					src: '/images/news-item__pic_main3.webp',
					name: 'Помогайте Фонду вместе с «Уральскими авиалиниями»',
					text: 'Покупая авиабилеты, вы поддерживаете наших подопечных',
					date: '28 Апреля 2018'
				},
				{
					src: '/images/news-item__pic_main1.webp',
					name: 'Как приобщить школьников к благотворительности',
					text: 'Инструкция для родителей, учителей и самих учеников',
					date: '26 Апреля 2018'
				}
			],
			newsBottom: [
				{
					src: '/images/news-item__pic_main1.webp',
					name: 'Помогайте Фонду вместе с «Уральскими авиалиниями»',
					text: 'Покупая авиабилеты, вы поддерживаете наших подопечных',
					date: '28 Апреля 2018'
				},
				{
					src: '/images/news-item__pic_main2.webp',
					name: 'Как приобщить школьников к благотворительности',
					text: 'Инструкция для родителей, учителей и самих учеников',
					date: '26 Апреля 2018'
				},
				{
					src: '/images/news-item__pic_main3.webp',
					name: 'Помогайте Фонду вместе с «Уральскими авиалиниями»',
					text: 'Покупая авиабилеты, вы поддерживаете наших подопечных',
					date: '28 Апреля 2018'
				},
				{
					src: '/images/news-item__pic_main1.webp',
					name: 'Помогайте Фонду вместе с «Уральскими авиалиниями»',
					text: 'Покупая авиабилеты, вы поддерживаете наших подопечных',
					date: '28 Апреля 2018'
				},
				{
					src: '/images/news-item__pic_main2.webp',
					name: 'Как приобщить школьников к благотворительности',
					text: 'Инструкция для родителей, учителей и самих учеников',
					date: '26 Апреля 2018'
				}
			],
		}
	}
};
</script>


