<template>
	<div class="tabs">
		<div class="tabs__header">
			<ul class="tabs__list" :class="mClass">
				<li class="tabs__item" v-for="(tab, index) in tabs" :key="index" :class="{ 'active': tab.isActive }">
					<a @click="selectTab(tab)" class="tabs__link">
						{{ tab.name }}
					</a>
				</li> 
			</ul>
		</div>
		<div class="tabs__section">
			<slot></slot>
		</div>
	</div>
</template> 

<script> 

export default {
	props: {
		mClass: {
			type: String
		}
	},
	data() {
		return {
			tabs: []
		}
	},
	methods: {
		selectTab(selectedTab) {
			this.tabs.forEach(tab => {
				tab.isActive = (tab.name === selectedTab.name)
			})
		}
	},
	created() {
		this.tabs = this.$children;
	}
}
</script>

<style lang="scss" scoped src="@/components/tabs/tabs/tabs.scss"></style>