.social-items {
	display: flex;
	align-items: center;

	&_column {
		flex-direction: column;
		align-items: flex-start;
	}

	&__text {
		color: #313131;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 400;
		margin-right: 15px;
	}

	&__section {
		display: flex;
		align-items: center;
	}

	&__link {
		margin-right: 15px;
		text-decoration: none;

		&:last-child {
			margin-right: 0;
		}
	}

	&__pic {
		display: block;
	}
}
