<template>
	<div class="programs-list">
		<div class="title">
			Развитие благотворительности в России
		</div>
		<div class="programs-list__texttop">
			Развитие благотворительности в России — одна из приоритетных задач Фонда. Это делаем не только мы, но и другие крупные фонды.
			Мы прекрасно понимаем, что не так важно, кому именно человек будет помогать. Важно, что он будет помогать здесь и сейчас. Важно, 
			чтобы каждый понимал, что благотворительность уже стала неотъемлемой частью жизни. Она стала частью всего, что мы делаем: 
			ходим в кино, покупаем продукты в магазине, смотрим телевизор — делаем все это и помогаем. Несколько самых важных задач, 
			которые мы ставим перед собой:
		</div>
		<div class="programs-list__row row">
			<div class="col-sm-6" v-for="(item, index) in lists" :key="index">
				<div class="programs-list__item">
					<div class="programs-list__counter">
						<div class="programs-list__number" :class="'programs-list__number_' + (index + 1)">
							{{ (index + 1 )}}
						</div>
					</div>
					<div class="programs-list__desc">{{ item }}</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			lists: [
				'Рассказывать всем вокруг, что помогать можно по-разному и предоставлять десятки разных способов для этого.',
				'Постоянно развиваться за самим. Следить за мировыми тенденциями.',
				'Развиваться вместе с сектором. Создавать качественные партнерские проекты и объединяться с другими фондами.',
				'Подтягивать сектор в целом своей экспертизой, усилиями, помогать маленьким (и не очень) фондам развиваться и не совершать ошибок.'
			]
		}
	}
}
</script>


<style lang="scss" src="@/components/programs/programs-list/programs-list.scss"></style>