.programs-list {
	margin-bottom: 80px;

	&__texttop {
		color: #010101;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 400;
		line-height: 32px;
		margin-bottom: 30px;
	}

	&__row {}

	&__item {
		display: flex;
		margin-bottom: 56px;
	}

	&__counter {
		flex-shrink: 0;
		margin-right: 20px;
	}

	&__number {
		color: #fffefe;
		font-family: Khabensky;
		font-size: 46px;
		font-weight: 700;
		line-height: 1;
		width: 64px;
		height: 64px;
		background-color: #774098;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 10px;

		&_2 {
			background-color: #78c043;
		}

		&_3 {
			background-color: #d14d9c;
		}

		&_4 {
			background-color: #ff6700;
		}
	}

	&__desc {
		color: #010101;
		font-family: Roboto;
		font-size: 19px;
		font-weight: 400;
		line-height: 32px;
	}

	@media (max-width: 768px) {
		margin-bottom: 36px;

		&__texttop {
			font-size: 13px;
			font-weight: 400;
			line-height: 19px;
		}

		&__item {
			margin-bottom: 30px;
		}

		&__counter {
			margin-right: 13px;
		}

		&__number {
			width: 48px;
			height: 48px;
			font-size: 24px;
			padding-top: 5px;
		}

		&__desc {
			font-size: 13px;
			font-weight: 400;
			line-height: 19px;
		}
	}
}
