<template>
	<div class="form__field">
		<div v-if="text" class="form__name" v-html="text"></div>
		<template v-if="tag == 'input'">
			<input :type="type" :name="name" class="form__input" :class="mClass" :value="value" :placeholder="placeholder">
		</template>
		<template v-else-if="tag == 'select'">
			<div class="select__combox">
				<select :name="name" class="form__comboxselect" :class="mClass">
					<option v-for="(item, index) in options" :key="index" :value="item.value">
						{{ item.text }}
					</option>
				</select>
			</div>
		</template>
		<template v-else>
			<textarea :name="name" class="form__textarea" :class="mClass" :placeholder="placeholder"></textarea>
		</template>
	</div>
</template>

<script>
export default {
	props: {
		tag: {
			type: String,
			default: 'input'
		},
		text: {
			type: String,
			default: ''
		},
		mClass: {
			type: String,
			default: ''
		},
		name: {
			type: String,
			default: ''
		},
		type: {
			type: String,
			default: 'text'
		},
		value: {
			type: String,
			default: ''
		},
		placeholder: {
			type: String,
			default: ''
		},
		options: {
			type: Array,
			default: function() {
				return []
			}
		}
	}
}
</script>


<style lang="scss" src="@/components/form/form-field/form-field.scss"></style>
<style lang="scss" src="@/components/form/form/form.scss"></style>