<template>
	<div class="wrapper">
		
		<no-ssr>
			<div class="wrapper__menu">
				<div class="wrapper__menuclose" @click="closeMenu">
					<span></span>
				</div>
				<Logo />
				<div class="wrapper__menuscroll">
					<HeaderMenu />
					<HeaderMenuSecond />
					<HeaderHelp />
					<HeaderInfo />
				</div>
			</div>
			<!-- /.wrapper__menu -->
		</no-ssr>
		<!-- /.header__mobile -->

		<div class="wrapper__inner"> 
			<Header/>
			<nuxt/>
			<Footer/>
		</div>
		<!-- /.wrapper__inner -->

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap&subset=cyrillic">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic">

	</div>
	<!-- /.wrapper -->
</template>

<script>
import Footer from "@/components/footer/global/footer";
import Header from "@/components/header/global/header";

/* for mobile menu */
import HeaderMenu from '@/components/menu/menu-header/menu-header';
import HeaderMenuSecond from '@/components/menu/menu-header-second/menu-header-second';
import Logo from '@/components/header/logo/logo';
import HeaderInfo from '@/components/header/header-info/header-info';
import HeaderHelp from '@/components/header/header-help/header-help';

export default {
	components: {
		Footer,
		Header,		
		HeaderMenu,
		HeaderMenuSecond,
		Logo,
		HeaderInfo,
		HeaderHelp
	},
	data() {
		return {

		}
	},
	created() {

	},
	methods: {
		closeMenu() {
			document.body.classList.remove('mobile-menu-show');
		}
	}
};
</script>
