.fund-mission {
	margin-bottom: 120px;
	position: relative;

	&__pic {
		position: absolute;
		right: 0;
		top: -240px;
	}

	&__inner {
		color: #010101;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 400;
		line-height: 32px;
		position: relative;
		z-index: 1;
		max-width: 810px;
	}

	&__title {
		color: #2a2a2a;
		font-family: Khabensky;
		font-size: 45px;
		font-weight: 700;
		line-height: 45px;
		margin-bottom: 35px;
	}

	@media (max-width: 768px) {
		margin: 0 -12px 30px;
		padding: 0 12px;

		&__pic {
			top: 0;
			opacity: .4;
			right: -100px;
			max-width: 400px;
		}

		&__title {
			font-size: 18px;
			font-weight: 700;
			line-height: 18px;
			margin-bottom: 16px;
		}

		&__inner {
			font-size: 13px;
			font-weight: 400;
			line-height: 19px;
		}
	}
}
