<template>
	<div class="fund-mission">
		<img v-lazyload data-src="/images/fund-mission__pic.jpg" alt="" class="fund-mission__pic">
		<div class="container">
			<div class="fund-mission__inner">
				<div class="fund-mission__title">Миссия Фонда</div>
				<p>
					Одна спасенная жизнь, вовремя сделанная операция, помощь с оплатой лекарств, без которых не
					наступила бы ремиссия, — именно с этого начинался Благотворительный Фонд Константина 
					Хабенского десять лет назад. Как тогда, так и сейчас Фонд адресно помогает детям, родители 
					которых услышали в кабинете врача пугающий диагноз — опухоль мозга. Если до 2013 года
					Константин Хабенский работал практически в одиночку, то сейчас в Фонде двадцать сотрудников,
					и собирать деньги на лечение детей помогают все: от больших компаний, которые жертвуют
					миллионы рублей в месяц, до тысяч людей по все стране, отправляющих деньги через СМС. 
				</p>
				<p>
					Мы не можем сделать так, чтобы дети перестали болеть. Но в наших с вами силах как можно 
					раньше обнаружить болезнь и помочь ребенку пройти путь лечения как можно быстрее
					и эффективнее: оказаться у правильного врача, найти средства на дорогостоящую терапию, 
					получить всю необходимую информацию о заболевании. Именно поэтому адресная помощь 
					— лишь одно из четырех направлений работы Фонда. Понимая, как важно менять и улучшать всю
					систему лечения детей с опухолями мозга, мы взяли на себя несколько важных задач.
					Среди них — обучение врачей, поддержка медицинских учреждений, где не хватает важного 
					оборудования, просвещение родителей на тему ранней диагностики опухоли, организация
					реабилитационных программ.
				</p>
				<p>
					Нам очень важно, что вы — наши благотворители, друзья, волонтеры — поддерживаете каждое
					из направлений работы Фонда и позволяете нам быть уверенными в завтрашнем дне. Благодаря
					вам нам уже удалось многое, а удастся — еще больше.
				</p>
			</div>
		</div>
	</div>
</template>


<style lang="scss" src="@/components/fund/fund-mission/fund-mission.scss"></style>