<template>
	<section class="container">

		<breadcrumbs :breadcrumbs="breadcrumbsItems" />

		<h1 class="title">Всё, что мы делаем, мы делаем благодаря вашей поддержке</h1>

		<div class="swiper-wrap">
			<swiper :arrows="true" :pagination="true" class="swiper_around">
				<swiper-slide>
					<InfoAbout />
				</swiper-slide>
				<swiper-slide>
					<InfoAbout />
				</swiper-slide>
				<swiper-slide>
					<InfoAbout />
				</swiper-slide>
			</swiper>
		</div>

		<CounterList :counterListArray="counterListArray" />

		<div class="title title_46">
			Активные акции компаний в поддержку детей

			<span class="title__info">
				Если вы воспользуетесь этими услугами, часть денег пойдёт детям
			</span>
		</div>
		<div class="indent indent_newsitem">
			<div class="row">
				<div class="col-sm-4" v-for="(item, index) in news" :key="index">

					<NewsItem
						:mClass="'news-item_large'"
						:src="item.src"
						:name="item.name"
						:url="'/'"
						:text="item.text"
						:date="item.date"
					/>

				</div>
			</div>
		</div>

		<Pagination />

		<SelectAway :src="'/images/select-away__pic2.webp'" />

		<ReportList />

	</section>
</template> 

<script>
import Breadcrumbs from '@/components/breadcrumbs/breadcrumbs';
import NewsList from '@/components/news/news-list/news-list';
import NewsItem from '@/components/news/news-item/news-item';
import Pagination from '@/components/pagination/pagination';
import SelectAway from '@/components/select-away/select-away';
import ReportList from '@/components/report-list/report-list/report-list'
import CounterList from '@/components/counter-list/counter-list';
import InfoAbout from '@/components/info-about/info-about';
import axios from 'axios';

export default { 
	components: {
		Breadcrumbs,
		NewsList,
		NewsItem,
		Pagination,
		SelectAway,
		ReportList,
		CounterList,
		InfoAbout
	},
	data() {
		return {
			breadcrumbsItems: [
				{ url: '/', text: 'Благотворительный фонд Константина Хабенского'},
				{ url: '', text: 'Благотворителям'}
			],
			newsListData: [
				{
					"id": "balut",
					"url": "/news/1",
					"name": "<span>Ивану Иванову</span> необходима оплата лечения и приобретение лекарственных препаратов",
					"content": "Ему 13 лет, он занимается каратэ и верит в себя. Семён борется с Медуллобластомой червя мозжечка и IV желудочка",
					"more": "Подробнее о Иване, его диагнозе и жизни",
					"srcPhoto": "/images/news-list__pic1.jpg"
				},
				{
					"id": "balut",
					"url": "/news/1",
					"name": "<span>Ивану Иванову</span> борется с медуллобластомой червя мозжечка",
					"content": "Ему 10 лет и он увлекается самолётами, тхэквондо и теннисом, изучает английский, любит читать энциклопедии — причем про все на свете.",
					"more": "Подробнее о Иване, его диагнозе и жизни",
					"srcPhoto": "/images/news-list__pic2.jpg"
				}
			],
			news: [
				{
					src: '/images/4e1b80584930cd700ca940408c75321f_copy.webp',
					name: 'Помогайте Фонду вместе с «Уральскими авиалиниями»',
					text: 'Действует до 18 мая 2018 года'
				},
				{
					src: '/images/Layer_25.webp',
					name: '«Собибор»: каждый билет — помощь детям',
					text: 'Действует до 17 августа 2018 года'
				},
				{
					src: '/images/Слой_3_copy.webp',
					name: 'В Перми прошел Нейроонкологический семинар',
					text: 'Действует до конца 2018 года'
				},
				{
					src: '/images/4e1b80584930cd700ca940408c75321f_copy.webp',
					name: 'Помогайте Фонду вместе с «Уральскими авиалиниями»',
					text: 'Действует до 18 мая 2018 года'
				},
				{
					src: '/images/Layer_25.webp',
					name: '«Собибор»: каждый билет — помощь детям',
					text: 'Действует до 17 августа 2018 года'
				},
				{
					src: '/images/Слой_3_copy.webp',
					name: 'В Перми прошел Нейроонкологический семинар',
					text: 'Действует до конца 2018 года'
				},
				{
					src: '/images/4e1b80584930cd700ca940408c75321f_copy.webp',
					name: 'Помогайте Фонду вместе с «Уральскими авиалиниями»',
					text: 'Действует до 18 мая 2018 года'
				},
				{
					src: '/images/Layer_25.webp',
					name: '«Собибор»: каждый билет — помощь детям',
					text: 'Действует до 17 августа 2018 года'
				},
				{
					src: '/images/Слой_3_copy.webp',
					name: 'В Перми прошел Нейроонкологический семинар',
					text: 'Действует до конца 2018 года'
				}
			],
			counterListArray: [
				{
					title: '3177 детей',
					mClass: 'counter-list__item_blue',
					text: 'Прошли реабилитацию с помощью собранных средств'
				},
				{
					title: '2 178 493 108, 33 ₽',
					mClass: 'counter-list__item_green',
					text: 'Собрано Фонд за всё время. Благодаря вам'
				},
				{
					title: '13 клиник',
					mClass: '',
					text: 'Получили стредства на новое оборудование'
				}
			]
		}
	}
};
</script>


