.menu-content {
	margin-bottom: 40px;

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin: 0 14px 14px 0;
	}

	&__link {
		padding: 0 20px;
		height: 34px;
		border-radius: 7px;
		border: 1px solid #f3f3f3;
		background-color: #fff;
		display: flex;
		line-height: 1;
		align-items: center;
		color: #484848;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 400;
		transition: all 500ms;

		&.active,
		&:hover {
			border: 1px solid #774098;
			background-color: #774098;
			color: #fff;
		}
	}
}
