<template>
	<div class="news-big">
		<div class="news-big__title">Здесь и сейчас</div>
		<div class="news-big__inner">
			<img v-lazyload data-src="/images/news-big__logo.webp" alt="" class="news-big__logo">
			<div class="news-big__desc">
				<div class="news-big__smtitle">
					Больше миллиона
					рублей — результат
					«БеспринцЫпных
					семейных чтений»
				</div>
				<div class="news-big__text">
					Спасибо всем, кто был 1 апреля с нами
				</div>
				<div class="news-big__date">
					20 Апреля 2018
				</div>
			</div>
			<img v-lazyload data-src="/images/news-big__pic.webp" alt="" class="news-big__pic">
		</div>
	</div>
</template>

<style lang="scss" src="@/components/news/news-big/news-big.scss"></style>