<template>
	<section class="container">

		<div class="indent indent_mainbanner">
			<div class="banner-row">
				<div class="banner-row__col">
					<Banner
						:title="'Команда проекта рассказывает о своей миссии'"
						:text="'Почему мы этим занимаемся, что не дает нам опускать руки и чему мы научились за эти годы'"
						:src="'/images/banner-main__pic.webp'"
						:url="'/'" 
					/>
				</div>
				<div class="banner-row__col">
					<BannerSmall
						v-for="(item, index) in bannerSmall" :key="index"
						:srcIndex="index + 1"
						:title="item"
					/>
				</div>
			</div>
		</div>

		<div class="container__row">
			<div class="container__col">
				<h1 class="title">Дети, которым нужна помощь</h1>
			</div>
			<div class="container__col">
				<nuxt-link to="/news" class="container__link">Все дети</nuxt-link>
			</div>
		</div>
		<!-- /.row -->

		<div class="indent indent_helpchild">
			<div class="row">
				<div class="col-sm-4" v-for="(item, index) in help" :key="index">

					<HelpChild
						:name="item.name"
						:url="item.url"
						:src="item.src"
						:need="item.need"
						:cash="item.cash" 
					/>

				</div>
			</div>
		</div>


		<ProgramFund />

		<div class="container__row">
			<div class="container__col">
				<h1 class="title">Новости</h1>
			</div>
			<div class="container__col">
				<nuxt-link to="/news" class="container__link">Все новости о нас</nuxt-link>
			</div>
		</div>
		<!-- /.row -->

		<div class="indent indent_newsitem">
			<div class="row">
				<div class="col-sm-4" v-for="(item, index) in news" :key="index">

					<NewsItem
						:mClass="'news-item_large'"
						:src="'/images/news-item__pic_main' + (index + 1) + '.webp'"
						:name="item.name"
						:url="'/'"
						:text="item.text"
						:date="item.date"
					/>

				</div>
			</div>
		</div>
		
		<SelectAway />

	</section>
</template> 

<script>
import Banner from '@/components/banner/banner/banner';
import BannerSmall from '@/components/banner/banner-small/banner-small';
import HelpChild from '@/components/help/help-child/help-child';
import NewsItem from '@/components/news/news-item/news-item';
import ProgramFund from '@/components/programs/programs-fund/programs-fund';
import SelectAway from '@/components/select-away/select-away';

export default {
	head: {
		title: 'Created by Aleksei Tarakanov'
	},
	components: {
		Banner,
		BannerSmall,
		HelpChild,
		NewsItem,
		ProgramFund,
		SelectAway
	},
	data() {
		return {
			bannerSmall: [
				'Помогаем детям адресно',
				'Проводим семинары для врачей',
				'Помогаем быть счастливыми после болезни',
				'Развеиваем мифы и рассказываем о фактах'
			],
			news: [
				{
					name: 'Помогайте Фонду вместе с «Уральскими авиалиниями»',
					text: 'Покупая авиабилеты, вы поддерживаете наших подопечных',
					date: '28 Апреля 2018'
				},
				{
					name: 'Как приобщить школьников к благотворительности',
					text: 'Инструкция для родителей, учителей и самих учеников',
					date: '26 Апреля 2018'
				},
				{
					name: 'В Перми прошел Нейроонкологический семинар',
					text: 'Местные врачи и студенты медицинских вузов прослушали цикл лекций лучших специалистов... в сфере нейроонкологии',
					date: '2 Апреля 2018'
				}
			],
			help: [
				{
					name: '<span>Иброхимжон Бадалов</span> борется с медуллобластомой червя мозжечка',
					url: '/',
					src: '/images/help-child__pic1.webp',
					need: '386300',
					cash: '1000000'
				},
				{
					name: '<span>Семёну Смирнову</span> на оплату лечения и приобретение лекарственных препаратов',
					url: '/',
					src: '/images/help-child__pic2.webp',
					need: '386300',
					cash: '1000000'
				},
				{
					name: '<span>Семёну Смирнову</span> на оплату лечения и приобретение лекарственных препаратов',
					url: '/',
					src: '/images/help-child__pic2.webp',
					need: '386300',
					cash: '1000000'
				}
			]
		}
	}
};
</script>

<style lang="scss" src="@/components/banner/banner-row.scss"></style>