<template>
	<section class="container">

		<breadcrumbs :breadcrumbs="breadcrumbsItems" />

		<h1 class="title">Программы Фонда</h1>

		<Programs />

	</section>
</template> 

<script>
import Breadcrumbs from '@/components/breadcrumbs/breadcrumbs';
import Programs from '@/components/programs/programs/programs'

export default {
	components: {
		Breadcrumbs,
		Programs
	},
	data() {
		return {
			breadcrumbsItems: [
				{ url: '/', text: 'Благотворительный фонд Константина Хабенского'},
				{ url: '', text: 'Программы Фонда'}
			],
			newsListData: []
		}
	},
};
</script>
