<template>
	<section class="container">

		<Breadcrumbs :breadcrumbs="breadcrumbsItems" />

		<div class="container__row">
			<div class="container__col">
				<h1 class="title title_bigger">Отчёты</h1>
			</div>
			<div class="container__col container__col_indent">
				<a href="#" class="container__link container__link_purple">
					Официальные документы
				</a>
			</div> 
		</div>	

		<ReportsGraph />	

		<CounterList :counterListArray="counterListArray" />

		<Reports />

		<div class="container__row">
			<div class="container__col">
				<h1 class="title">Как расходовались средства</h1>
			</div>
			<div class="container__col container__col_indent">
				<nuxt-link to="/news" class="container__link container__link_purple">Смотреть все</nuxt-link>
			</div>
		</div>
		<!-- /.row -->

		<div class="indent indent_newsitem indent_reports">
			<div class="row">
				<div class="col-sm-4" v-for="(item, index) in news" :key="index">

					<NewsItem
						:mClass="'news-item_large news-item_report'"
						:src="'/images/news-item__pic_main' + (index + 1) + '.webp'"
						:name="item.name"
						:url="'/'"
						:text="item.text"
						:date="item.date"
					/>

				</div>
			</div>
		</div>

		<SelectAway />

	</section>
</template>

<script>
import Breadcrumbs from '@/components/breadcrumbs/breadcrumbs';
import ReportsGraph from '@/components/reports/reports-graph/reports-graph';
import CounterList from '@/components/counter-list/counter-list';
import Reports from '@/components/reports/reports/reports';
import NewsItem from '@/components/news/news-item/news-item';
import SelectAway from '@/components/select-away/select-away';

export default {
	components: {
		Breadcrumbs,
		ReportsGraph,
		CounterList,
		Reports,
		NewsItem,
		SelectAway
	},
	data() {
		return {
			breadcrumbsItems: [
				{ url: '/', text: 'Благотворительный фонд Константина Хабенского'},
				{ url: '', text: 'Отчёты'}
			],
			counterListArray: [
				{
					title: '72 493 108, 33 ₽',
					mClass: 'counter-list__item_green',
					text: 'Собрано в 2017 году'
				},
				{
					title: '57 Детей',
					mClass: 'counter-list__item_blue',
					text: 'Прошли реабилитацию с помощью собранных средств'
				},
				{
					title: '3 клиники',
					mClass: '',
					text: 'Получили стредства на новое оборудование'
				}
			],
			news: [
				{
					name: 'Отчёт за июль',
					date: '1 августа 2018'
				},
				{
					name: 'Отчёт за июнь',
					date: '1 июля 2018'
				},
				{
					name: 'Отчёт за май',
					date: '1 июня 2018'
				}
			],
		}
	}
};
</script>

<style lang="scss" scoped>
.indent_reports {
	margin-bottom: 115px;

	@media (max-width: 768px) {
		margin-bottom: 0;
	}
}
</style>