.progress {
	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 -12px;
	}

	&__col {
		padding: 0 12px;

		&:first-child {
			width: calc(100% - 185px);
		}

		&:nth-child(2) {
			width: 185px;
		}
	}

	&__bar {
		height: 49px;
		border-radius: 5px;
		background-color: #eeeeee;
		margin-bottom: 11px;
	}

	&__line {
		height: 100%;
		background-color: #78c043;
		border-radius: 5px 0 0 5px;
		position: relative;
		width: 0;
		transition: width 700ms;

		&:after {
			position: absolute;
			right: 0;
			top: -4px;
			width: 2px;
			height: 58px;
			background-color: #78c043;
			content: '';
		}
	}

	&__full {
		height: 100%;
		background-color: #78c043;
		border-radius: 5px;
		position: relative;
		width: 100%;
	}

	&__section {
		display: flex;
		justify-content: space-between;
	}

	&__text {
		color: #69b830;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 500;
		line-height: 31.03px;

		&_gray {
			color: #adadad;
		}

		&_orange {
			color: #ff6700;
			text-align: center;
		}
	}

	&__button {
		height: 49px;
		border-radius: 5px;
		background-color: #ff6700;
		color: #ffffff;
		font-family: Roboto;
		font-size: 21px;
		font-weight: 500;
		line-height: 1;
		letter-spacing: 0.1px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 11px;
	}

	@media (max-width: 768px) {
		&__row {
			margin: 0 -2px;
		}

		&__col {
			padding: 0 2px;
			width: calc(100% - 85px) !important;

			&:nth-child(2) {
				width: 85px;
			}
		}

		&__bar {
			height: 25px;
			margin-bottom: 0;
		}

		&__button {
			height: 25px;
			font-size: 13px;
			margin-bottom: 0;
		}

		&__text {
			font-size: 10px;
			line-height: 15px;
		}
	}
}
