.header {
	height: 208px;
	box-shadow: 0 7px 57px rgba(123, 85, 146, 0.12);
	background-color: #ffffff;
	margin-bottom: 60px;

	&__inner {
		max-width: 1170px;
		padding-top: 28px;
		margin: 0 auto;
		position: relative;
	}

	&__item {
		background: #fff;
	}

	@media (max-width: 768px) {
		height: 55px;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10;

		&__inner {
			height: 100%;
			padding: 0;
		}

		&__mhidden {
			display: none;
		}

		&__burger {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 44px;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				width: 20px;
				height: 2px;
				background: #774098;
				display: block;
				position: relative;

				&:before,
				&:after {
					height: 2px;
					width: 100%;
					background: #774098;
					position: absolute;
					left: 0;
					content: '';
				}

				&:before {
					top: -14px;
				}

				&:after {
					bottom: -14px;
				}
			}
		}
	}
}
