<template>
	<nav class="menu-header-second">
		<ul class="menu-header-second__list">
			<li class="menu-header-second__item" @click="closeMenu" v-for="item in items" v-bind:key="item.id">
				<nuxt-link class="menu-header-second__link" v-bind:to="item.url">{{ item.title }}</nuxt-link>
			</li>
		</ul>
	</nav>
</template>
<style lang="scss" src="@/components/menu/menu-header-second/menu-header-second.scss"></style>

<script>
export default {
	data() {
		return {
			items: [
				{ id: 1, title: 'Благотворителям', url: '/helpus' },
				{ id: 2, title: 'Отчёты', url: '/reports/' }
			]
		};
	},
	methods: {
		closeMenu() {
			document.body.classList.remove('mobile-menu-show');
		}
	}
};
</script>
