<template>
	<div class="reports">
		<div class="reports__title title title_bigger">
			Найти своё пожертвование
		</div>
		<div class="reports__form">

			<form action="#" class="form">

				<div class="row">
					<div class="col-sm-7">

						<div class="row">
							<div class="col-sm-4">

								<FormField
									text="Cпособ пожертвования"
									tag="select"
									name="d"
									:options="[
										{ value: '', text: 'Искать везде'},
										{ value: '', text: 'Искать везде'},
										{ value: '', text: 'Искать везде'}
									]"
								/>

								<div class="reports__text d-none d-sm-block">&nbsp;</div>

							</div>
							<div class="col-sm-4">

								<FormField
									text="Период пожертвования"
									tag="select"
									name="d"
									:options="[
										{ value: '', text: 'Предыдущие 3 мес'},
										{ value: '', text: 'Предыдущие 3 мес'},
										{ value: '', text: 'Предыдущие 3 мес'}
									]"
								/>

							</div>
							<div class="col-sm-4">

								<FormField
									text="Сумма пожертвования"
									name="d"
									placeholder="Введите сумму"
								/>

							</div>
							<div class="col-sm-8">

								<FormField
									text="Укажите ваш e-mail"
									name="d"
									type="email"
									placeholder="e.ryuc"
								/>

							</div>
							<div class="col-sm-4">

								<FormField
									text="Укажите ваш телефон"
									name="d"
									type="tel"
									placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _"
								/>

							</div>
						</div>

					</div>
					<div class="col-sm-5">

						<div class="reports__card">
							<div class="row">
								<div class="col-4 col-sm-4">

									<FormField
										text="Банковская карта"
										name="d"
										placeholder="123456"
									/>

								</div>
								<div class="col-3 col-sm-4">
								
									<div class="form__name">&nbsp;</div>
									<div class="form__hidden">X X X X X X</div>

								</div>
								<div class="col-3 col-sm-3">

									<FormField
										text="&nbsp;"
										name="d"
										placeholder="7890"
									/>

								</div>
								<div class="col-2 col-sm-1">

									<div class="form__name">&nbsp;</div>
									<div class="form__key"></div>

								</div>
								<div class="col-sm-12">

									<div class="reports__text">Первые 6 и последние 4 цифры номера банковской карты</div>

								</div>

								<div class="col-sm-12">

									<div class="form__name">&nbsp;</div>
									<input type="submit" value="Создать отчет" class="form__submit">

								</div>
								
							</div>
						</div>

					</div>
				</div>
			</form>

		</div>
		<div class="line"></div>
		<div class="reports__section">

			<div class="row">
				<div class="col-6 col-sm-2" v-for="(item, index) in [1, 2, 3]" :key="index">

					<ReportsItem
						src="/images/reports-item__pic1.webp"
						text="Отчет за декабрь 2016"
						size="XLSX, 20.8 мб"
					/>
					
				</div>
			</div>

			<Pagination :counter="'2016'" />

			<div class="row">
				<div class="col-6 col-sm-2" v-for="(item, index) in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" :key="index">

					<ReportsItem
						src="/images/reports-item__pic2.webp"
						text="Отчет за декабрь 2016"
						size="XLSX, 20.8 мб"
					/>
					
				</div>
			</div>

			<Pagination />

		</div>
	</div>
</template>

<script>
import ReportsItem from '@/components/reports/reports-item/reports-item';
import Pagination from '@/components/pagination/pagination';
import FormField from '@/components/form/form-field/form-field'

export default {
	components: {
		ReportsItem,
		Pagination,
		FormField
	}
}
</script>


<style lang="scss" src="@/components/reports/reports/reports.scss"></style>
<style scoped>
.row {
	margin: 0 -6px;
}

[class*="col-"] {
	padding: 0 6px;
}

.reports__card {
	margin-left: 40px;
}

@media (max-width: 768px) {
	.row {
		margin: 0 -11px;
	}

	[class*="col-"] {
		padding: 0 11px;
	}

	.reports__card {
		margin-left: 0;
	}
}
</style>