.reports {
	&__title {}

	&__form {
		padding-bottom: 45px;
	}

	&__text {
		color: #656565;
		font-family: "PT Sans";
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		margin-bottom: 28px;
	}

	@media (max-width: 768px) {
		&__form {
			padding-bottom: 25px;
		}

		&__text {
			margin-bottom: 0;
			font-size: 12px;
		}
	}
}
