.progress-full {
	&__bar {
		height: 49px;
		border-radius: 5px;
		background-color: #eeeeee;
		margin-bottom: 11px;
	}

	&__line {
		height: 100%;
		background-color: #78c043;
		border-radius: 5px 0 0 5px;
		position: relative;
		width: 0;
		transition: width 700ms;

		&:after {
			position: absolute;
			right: 0;
			top: -4px;
			width: 2px;
			height: 58px;
			background-color: #78c043;
			content: '';
		}
	}

	&__full {
		height: 100%;
		background-color: #78c043;
		border-radius: 5px;
		position: relative;
		width: 100%;
	}

	&__section {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&__text {
		color: #69b830;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 500;
		line-height: 31.03px;
		text-align: center;

		&_gray {
			color: #adadad;
		}
	}
}
