<template>
	<div class="select-away">
		<div class="select-away__row">
			<div class="select-away__desc">
				<div class="select-away__title">
					Помогать можно по-разному.
					Выберите свой способ.
				</div>
				<div class="select-away__section">
					<div class="select-away__item">
						<nuxt-link to="/" class="btn">
							Помочь деньгами
						</nuxt-link>
					</div>
					<div class="select-away__item">
						<nuxt-link to="/" class="btn btn_purple">
							Стать волонтёром
						</nuxt-link>
					</div>
					<div class="select-away__item">
						<nuxt-link to="/" class="btn btn_pink">
							Организовать сбор средств
						</nuxt-link>
					</div>
				</div>
			</div>
			<div class="select-away__photo">
				<img v-lazyload :data-src="src" alt="" class="select-away__pic">
			</div>
		</div>
	</div>
</template>

<style lang="scss" src="@/components/select-away/select-away.scss"></style>

<script>
	export default {
		props: {
			src: {
				type: String,
				default: '/images/select-away__pic.webp'
			}
		}
	}
</script>