<template>
	<div class="breadcrumbs">
		<div class="breadcrumbs__inner">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item" v-for="(item, index) in breadcrumbs" :key="index">
					<nuxt-link v-if="item.url" v-bind:to="item.url" class="breadcrumbs__link">
						{{ item.text }}
					</nuxt-link>
					<span v-else class="breadcrumbs__text">
						{{ item.text }}
					</span>
				</li>
			</ul>
		</div>
	</div>
</template>

<style lang="scss" src="@/components/breadcrumbs/breadcrumbs.scss"></style>

<script>
export default {
	props: [
		'breadcrumbs'
	]
}
</script>
