<template>
	<section class="container">

		<breadcrumbs :breadcrumbs="breadcrumbsItems" />

		<div class="container__row container__row_column_m">
			<div class="container__col">
				<h1 class="title">Кого мы помним</h1>
			</div>
			<div class="container__col container__col_overflow_y">
				<div class="container__scroll container__scroll_m">
					<nuxt-link class="button-helped" to="/">
						<span class="button-helped__icon"></span>
						<span class="button-helped__text">
							Кому мы уже помогли
						</span>
					</nuxt-link>
					<nuxt-link class="button-remember" to="/remember">
						<span class="button-remember__icon"></span>
						<span class="button-remember__text">
							Кого мы помним
						</span>
					</nuxt-link>
				</div>
			</div>
		</div>
		<!-- /.row -->

		<div class="line"></div>
		<!-- /.line -->

		<div class="news">
			<NewsList
			 v-for="(item, index) in newsListData"
			 :key="index"
			 :url="item.url"
			 :src="item.srcPhoto"
			 :name="item.name"
			 :text="item.content"
			 :more="item.more"
			/>
		</div>

	</section>
</template> 

<script>
import Breadcrumbs from '@/components/breadcrumbs/breadcrumbs';
import NewsList from '@/components/news/news-list/news-list';
import axios from 'axios';

export default { 
	components: {
		Breadcrumbs,
		NewsList
	},
	data() {
		return {
			breadcrumbsItems: [
				{ url: '/', text: 'Благотворительный фонд Константина Хабенского'},
				{ url: '/', text: 'Дети ищут помощи'},
				{ url: '', text: 'Семён Смирнов'}
			],
			newsListData: [
				{
					"id": "balut",
					"url": "/news/1",
					"name": "<span>Ивану Иванову</span> необходима оплата лечения и приобретение лекарственных препаратов",
					"content": "Ему 13 лет, он занимается каратэ и верит в себя. Семён борется с Медуллобластомой червя мозжечка и IV желудочка",
					"more": "Подробнее о Иване, его диагнозе и жизни",
					"srcPhoto": "/images/news-list__pic1.jpg"
				},
				{
					"id": "balut",
					"url": "/news/1",
					"name": "<span>Ивану Иванову</span> борется с медуллобластомой червя мозжечка",
					"content": "Ему 10 лет и он увлекается самолётами, тхэквондо и теннисом, изучает английский, любит читать энциклопедии — причем про все на свете.",
					"more": "Подробнее о Иване, его диагнозе и жизни",
					"srcPhoto": "/images/news-list__pic2.jpg"
				}
			]
		}
	}
};
</script>
