<template>
	<div class="form-payment">
		<div class="form-payment__inner">тут должна быть форма оплаты</div>
	</div>
</template>

<style lang="scss" src="@/components/form/form-payment/form-payment.scss"></style>