.programs-slide {
	margin-bottom: 43px;
	min-height: 20px;

	&__photo {
		margin-bottom: 8px;
		position: relative;
		border-radius: 20px;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__text {
		color: #8d8c8c;
		font-family: Roboto;
		font-size: 13px;
		font-style: italic;
		text-align: center;
	}

	&__video {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(/images/play.svg) no-repeat center;
	}

	@media (max-width: 768px) {
		margin-bottom: 20px;

		&__video {
			background-size: auto 100px;
		}
	}
}
