<template>
	<div class="programs-slide">
		<div class="programs-slide__photo">
			<img :data-src="src" alt="" class="programs-slide__pic swiper-lazy">
			<div v-if="video" class="programs-slide__video"></div>
		</div>
		<div class="programs-slide__text">{{ text }}</div>
	</div>
</template>

<script>
export default {
	props: [
		'src',
		'text',
		'video'
	]
}
</script>


<style lang="scss" src="@/components/programs/programs-slide/programs-slide.scss"></style>