.report-list {
	margin-bottom: 50px;

	&__title {
		color: #2a2a2a;
		font-family: Khabensky;
		font-size: 46px;
		font-weight: 700;
		line-height: 46px;
		margin-bottom: 39px;
	}

	&__menu {
		margin-bottom: 25px;
	}

	&__link {
		color: #2a2a2a;
		font-family: Khabensky;
		font-size: 22px;
		font-weight: 700;
		line-height: 22px;
		margin-right: 30px;

		&:hover,
		&.active {
			color: #774098;
		}
	}

	&__submenu {}

	&__tablink {}

	&__desc {
		color: #010101;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 400;
		line-height: 28px;
		margin-bottom: 74px;

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				position: relative;
				padding: 0 0 0 15px;
				margin-bottom: 8px;
				max-width: 70%;

				&:before {
					content: '-';
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}

	&__sponsor {
		margin: 0 -40px;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;

		li {
			padding: 0 40px 40px;
			width: calc(100% / 6);

			a {
				width: 160px;
				height: 160px;
				border-radius: 15px;
				border: 3px solid #ededed;
				display: block;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					display: block;
				}
			}
		}
	}
}
