<template>
	<div class="report-list">
		<div class="report-list__title">
			Спасибо за {{ currentMonth }}!
		</div>
		<div class="report-list__menu">
			<nuxt-link v-for="(item, index) in years" :key="index" class="report-list__link" :class="(index === 0) ? 'active' : ''" :to="item.url">
				{{ item.year }}
			</nuxt-link>
		</div>
		<tabs mClass="tabs__list_years">
			<tab v-for="(item, index) in months" :key="index" :name="item" :selected="(index === 0) ? true : false">
				<div class="report-list__desc">
					<p>
						Друзья, с радостью и благодарностью мы говорим спасибо всем тем, кто помогал нам в апреле 2018 года. Каждому, кто делал разовые и регулярные пожертвования:
					</p>				
					<ul>
						<li>
							на счет Фонда в Райффайзенбанке, ВТБ24, ПАО Сбербанк, СКБ-Банк, БИН Банк, МДМ-Банк, МКБ, Юниаструм Банк, Тинькофф Банк, ЛОКО Банк;
						</li>
						<li>
							с помощью СМС цифрами на номер 7535 и СМС «ПОМОГАЮ» на номер 3443;
						</li>
						<li>
							в рамках партнерской программы «Малый бизнес с большим сердцем» ВТБ24;
						</li>
						<li>
							с помощью платежных сервисов Cloudpayments, Яндекс.Деньги, Платрон, PayPal, QIWI, СМС онлайн, РБК-money, МТС USSD, Элекснет, WalletOne;
						</li>
						<li>
							на платформах и проектах Добро.Мейл.ру, Благо.ру, Такие дела, MainPeople, Giftery, Сбербанк.Вместе;
						</li>
						<li>
							в боксы для сбора наличных пожертвований в сети гипермаркетов HOFF, сети продуктовых магазинов «Удобный», салоне World Class Марьина Роща, медицинском центре «ОдинМед», йога-центре «Ретунский», сети химчисток «Лансада»;
						</li>
						<li>
							в рамках мероприятия «БеспринцЫпные чтения» в «Гоголь-центре» 1 апреля; 
						</li>
						<li>
							в рамках концертов группы «Руки Вверх» в спорткомплексе «Олимпийский» 21 и 22 апреля; 
						</li>
						<li>
							в рамках концерта Константина Хабенского и Юрия Башмета в сопровождении Камерного ансамбля «Солисты Москвы» в Государственном Кремлевском Дворце 22 апреля;
						</li>
					</ul>
				</div>
				<ul class="report-list__sponsor">
					<li v-for="(item, index) in images" :key="index">
						<a href="/">
							<img v-lazyload :data-src="item" alt="">
						</a>
					</li>
				</ul>
			</tab>
		</tabs>
	</div>
</template>

<script>
export default {
	props: {
		currentMonth: {
			type: String,
			default: 'Январь'
		}
	},
	data() {
		return {
			years: [
				{
					year: '2018',
					url: '/random'
				},
				{
					year: '2017',
					url: '/random'
				},
				{
					year: '2016',
					url: '/random'
				},
				{
					year: '2015',
					url: '/random'
				},
				{
					year: '2014',
					url: '/random'
				}
			],
			months: [
				'Январь',
				'Февраль',
				'Март',
				'Апрель',
				'Май',
				'Июнь',
				'Июль',
				'Август',
				'Сентябрь',
				'Октябрь',
				'Ноябрь',
				'Декабрь'
			],
			images: [
				'/images/d41e20655d420e5e1c3ce7a42f1dfe9a.webp',
				'/images/dfdcb3fff337938dda05f497468d46e6.webp',
				'/images/e74883f56a06ed092427d70f36db6246.webp',
				'/images/c12643fc16bcdcaf2f9d0fe433e479cd.webp',
				'/images/c0b415a33ce21e74ebbbb7f3812c41f4.webp',
				'/images/44b4de14ee9023e11f6ff8bdfe80b471.webp',
				'/images/dfcca7acf10e0b64c4548a4a4e3f7d90.webp',
				'/images/3bb82f8787d16db3b94b499d9ddb7349.webp',
				'/images/d052b80f2da084d9d6a0b231115f0aac.webp',
				'/images/f344c707f74422f04d059a1094125e76.webp',
				'/images/13866045d0fd74611510b07cb544e813.webp',
				'/images/34e15e10d9b5ee10bb0bdd9016363019.webp',
				'/images/8eb11438fa516eac38bf305bae23f3af.webp',
				'/images/14cb7fc9b7e2bc5234f192773875a7ac.webp'
			]
		}
	}
}
</script>

<style lang="scss" src="@/components/report-list/report-list/report-list.scss"></style>