.reports-graph {
	background-color: #78bf42;
	margin-bottom: 70px;
	height: 240px;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: bold;
}
