<template>
    <div v-swiper:mySwiper="swiperOption" class="swiper-visible">
        <swiper :options="swiperOption" :pagination="false" :arrows="true" mClass="swiper_visible">
            <swiper-slide>
                
                <ProgramsFundItem
                    :title="'Помощь медицинским учреждениям РФ'"
                    :content="'Цель программы – улучшение качества медицинских  услуг для пациентов  с тяжелыми заболеваниями головного мозга и оптимизация финансовых затрат на их лечение.  '"
                />

            </swiper-slide>
            <swiper-slide> 
                
                <!-- <SwiperThumb :classElement="'js-swiper-pagination'" /> -->
                <ProgramsFundItem
                    :title="'Знать и не бояться'"
                    :imgSrc="'/images/progrmas-fund__pic.webp'"
                    :mClass="'programs-fund__item_purple'"
                />

            </swiper-slide>
            <swiper-slide>
                
                <ProgramsFundItem
                    :title="'Терапия счастья'"
                    :content="'Цель программы – повышение качества проводимого в России лечения, развитие ранней диагностики онкологических и других тяжелых заболеваний головного мозга у детей и молодых взрослых в возрасте от 18 до 25 лет.'"
                    :mClass="'programs-fund__item_green'"
                />

            </swiper-slide>
            <swiper-slide>
                
                <ProgramsFundItem
                    :title="'Помощь медицинским учреждениям РФ'"
                    :content="'Цель программы – улучшение качества медицинских  услуг для пациентов  с тяжелыми заболеваниями головного мозга и оптимизация финансовых затрат на их лечение.  '"
                />

            </swiper-slide>
            <swiper-slide>
                
                <ProgramsFundItem
                    :title="'Терапия счастья'"
                    :content="'Цель программы – повышение качества проводимого в России лечения, развитие ранней диагностики онкологических и других тяжелых заболеваний головного мозга у детей и молодых взрослых в возрасте от 18 до 25 лет.'"
                    :mClass="'programs-fund__item_green'"
                />

            </swiper-slide>
        </swiper>
    </div>
</template>

<script>
import ProgramsFundItem from '@/components/programs/programs-fund/programs-fund-item';

export default {
    components: {
        ProgramsFundItem
    },
    data() {
        return {
            banners: ['1', '2', '3', '4'],
            swiperOption: {
                slidesPerView: 'auto',
				spaceBetween: 53,
				breakpoints: {
					768: {
						spaceBetween: 26
					}
				}
            }
        }
    },
    created() { 

    }
}
</script>

<style lang="scss" src="@/components/programs/programs-fund/swiper/swiper.scss"></style>

<style>
.swiper_visible .swiper-container {
	overflow: visible;
}
.swiper-slide {
	width: 477px;

	@media (max-width: 768px) {
		width: 240px;
	}
}
</style>
