.container {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	max-width: 1200px;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 28px;
	}

	&__col {
		&:nth-child(2) {
			display: flex;
			align-items: center;
		}

		.title,
		.smtitle {
			margin-bottom: 0;
		}

		&_indent {
			padding-top: 10px;
		}
	}

	&__scroll {
		display: flex;
	}

	&__link {
		padding-top: 10px;
		color: #d14d9c;
		font-family: Khabensky;
		font-size: 20px;
		font-weight: 700;
		line-height: 40.67px;

		&_children {
			color: #774098;
			position: relative;

			&:before {
				position: absolute;
				width: 40px;
				height: 38px;
				background: url(/images/container__link_children.svg) no-repeat;
				left: -50px;
				content: "";
				bottom: 14px;
			}
		}

		&_purple {
			color: #774098;
		}
	}

	@media (max-width: 768px) {
		width: 100%;
		padding: 0;

		&__row {
			margin: 0 -12px 18px;
			align-items: flex-start;

			&_column_m {
				flex-direction: column;
			}
		}

		&__col {
			padding: 0 12px;

			&_overflow_y {
				scroll-behavior: smooth;
				-webkit-overflow-scrolling: touch;
				overflow-x: auto;
				flex-wrap: nowrap;
				padding: 10px 0 0;
				width: 100%;
			}
		}

		&__scroll_m {
			display: flex;
			padding: 0 12px;
		}

		&__link {
			font-family: Khabensky;
			font-size: 13px;
			font-weight: 700;
			line-height: 20.34px;
			min-width: 62px;
			padding-top: 3px;
		}
	}
}
